<a href="https://colab.research.google.com/github/VighneshS/sentiment_prediction/blob/master/sentiment_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sentiment Prediction using Naive Bayes Classifier (NBC)
This is a notebook to understand how Naive Bayes Classifier (NBC) works and also how it is useful to classify text based on sentiment.

We will also see how it will be effective against missing data.

## Settings
Training Percentage

In [19]:
training_ratio = 60/100

## Importing the Data
We used the [kaggle dataset](https://storage.googleapis.com/kagglesdsdata/datasets/22169/30047/sentiment%20labelled%20sentences/imdb_labelled.txt?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=gcp-kaggle-com%40kaggle-161607.iam.gserviceaccount.com%2F20210425%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20210425T202010Z&X-Goog-Expires=259199&X-Goog-SignedHeaders=host&X-Goog-Signature=6133706ef10bc2dcd0b58f8398b4d73ab9e9d788de1718b07334df91f6007e1e4ca0b78e3176f95b8250e0c4535ce1633528f4fabffeb7e4124af3ee3f895ac34c03044fca9b23b23c4ddb8fa90d84dfc14869ff4806f03783cafad53b19445b3c3052983fdf1ca4384257eac1bc0a4270d238a1ea89d1289866c7a0ea7ad7c97a76f2e142c148019e39cc5a1295f92650747ac5ea5946b026f7ad6d5d262d4c4a370aee6bc1f5d5b445bb6d93692debe678a79e5e1c1fe3d3e68ea4f2fad3115795d3361e0626e98156fbc7f5967beb7cf0f00e07351d23a00d8677ebb75e3e13b1bfa07762266efabf6f6f9d53206be31b7623cf3614f60f8cf5011cf23def) to get the ground truth of sample IMDB reviews.

In [20]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import math

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

# import os
# for dirname, _, filenames in os.walk('/kaggle/input'):
#     for filename in filenames:
#         print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

data=pd.read_csv(r"https://storage.googleapis.com/kagglesdsdata/datasets/22169/30047/sentiment%20labelled%20sentences/imdb_labelled.txt?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=gcp-kaggle-com%40kaggle-161607.iam.gserviceaccount.com%2F20210425%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20210425T202010Z&X-Goog-Expires=259199&X-Goog-SignedHeaders=host&X-Goog-Signature=6133706ef10bc2dcd0b58f8398b4d73ab9e9d788de1718b07334df91f6007e1e4ca0b78e3176f95b8250e0c4535ce1633528f4fabffeb7e4124af3ee3f895ac34c03044fca9b23b23c4ddb8fa90d84dfc14869ff4806f03783cafad53b19445b3c3052983fdf1ca4384257eac1bc0a4270d238a1ea89d1289866c7a0ea7ad7c97a76f2e142c148019e39cc5a1295f92650747ac5ea5946b026f7ad6d5d262d4c4a370aee6bc1f5d5b445bb6d93692debe678a79e5e1c1fe3d3e68ea4f2fad3115795d3361e0626e98156fbc7f5967beb7cf0f00e07351d23a00d8677ebb75e3e13b1bfa07762266efabf6f6f9d53206be31b7623cf3614f60f8cf5011cf23def",delimiter="\t",header=None,names=["IMDB Review","Sentiment"])
data

                                           IMDB Review  Sentiment
0    A very, very, very slow-moving, aimless movie ...          0
1    Not sure who was more lost - the flat characte...          0
2    Attempting artiness with black & white and cle...          0
3         Very little music or anything to speak of.            0
4    The best scene in the movie was when Gerardo i...          1
..                                                 ...        ...
743  I just got bored watching Jessice Lange take h...          0
744  Unfortunately, any virtue in this film's produ...          0
745                   In a word, it is embarrassing.            0
746                               Exceptionally bad!            0
747  All in all its an insult to one's intelligence...          0

[748 rows x 2 columns]

### Split Data
We split the data into train, development and test

In [21]:
train = data[:math.floor(data.shape[0]*training_ratio)]

In [22]:
validation = data[math.floor(data.shape[0]*training_ratio):]
dev, test = np.array_split(validation, 2)

In [23]:
train, dev, test

(                                           IMDB Review  Sentiment
 0    A very, very, very slow-moving, aimless movie ...          0
 1    Not sure who was more lost - the flat characte...          0
 2    Attempting artiness with black & white and cle...          0
 3         Very little music or anything to speak of.            0
 4    The best scene in the movie was when Gerardo i...          1
 ..                                                 ...        ...
 443  It's a campy sort of film that's a joy to watc...          1
 444  There's barely a boring moment in the film and...          1
 445        The cast is always entertaining as usual.            1
 446                              Overall, a delight!            1
 447  This movie is so mind-bendingly awful, it coul...          0

 [448 rows x 2 columns],
                                            IMDB Review  Sentiment
 448  The film lacks any real scares or tension & so...          0
 449      The least said about the acting the better.            0
 450  This movie does an excellent job of revealing ...          1
 451  I believe every one should see this movie as I...          1
 452  Nothing short of magnificent photography/cinem...          1
 ..                                                 ...        ...
 593  This film highlights the fundamental flaws of ...          1
 594  The film is well paced, understated and one of...          1
 595  This mostly routine fact-based TV drama gets a...          1
 596                Predictable, but not a bad watch.            1
 597  It was clear that she had the range and abilit...          1

 [150 rows x 2 columns],
                                            IMDB Review  Sentiment
 598                      She carries the movie well.            1
 599  Constantine gives everything the right intensi...          1
 600  It is wonderful and inspiring to watch, and I ...          1
 601  How this piece of trash was ever released is b...          0
 602  In fact, this stinker smells like a direct-to-...          0
 ..                                                 ...        ...
 743  I just got bored watching Jessice Lange take h...          0
 744  Unfortunately, any virtue in this film's produ...          0
 745                   In a word, it is embarrassing.            0
 746                               Exceptionally bad!            0
 747  All in all its an insult to one's intelligence...          0

 [150 rows x 2 columns])

## Generation of Vocabulary list

In [24]:
vocabulary = data["IMDB Review"].apply(lambda review: pd.value_counts(review.lower().replace(',', '').replace('"', '').replace('(', '').replace(')', '').replace('\'s', '').replace('.', '').replace('!', '').replace('-', ' ').replace('/', ' ').split())).sum(axis = 0).to_frame()
vocabulary.columns = ["Frequency"]
vocabulary

               Frequency
very                65.0
a                  430.0
moving               4.0
drifting             1.0
young                4.0
...                  ...
jessice              1.0
clothes              1.0
virtue               1.0
regrettable          1.0
exceptionally        1.0

[3153 rows x 1 columns]

### Probability of the word
Frequency of the word in all documents / Total number of words

### Total Number of words

In [25]:
total_words = vocabulary.sum(axis= 0).to_frame()
total_words.columns = ["Total words"]
total_words['Total words'][0]

14701.0

In [26]:
word_probability = vocabulary.div(total_words["Total words"][0], 0, 0)
word_probability.columns = ['Probability']
word_probability

               Probability
very              0.004421
a                 0.029250
moving            0.000272
drifting          0.000068
young             0.000272
...                    ...
jessice           0.000068
clothes           0.000068
virtue            0.000068
regrettable       0.000068
exceptionally     0.000068

[3153 rows x 1 columns]

### Conditional Probability based on sentiment
i.e. P(word | sentiment = "Positive"(1)/ "Negative"(0))

###

In [27]:
positive_sentiments = data[data['Sentiment'] == 1]
print(positive_sentiments)
positive_vocabulary = positive_sentiments["IMDB Review"].apply(lambda review: pd.value_counts(review.lower().replace(',', '').replace('"', '').replace('(', '').replace(')', '').replace('\'s', '').replace('.', '').replace('!', '').replace('-', ' ').replace('/', ' ').split())).sum(axis = 0).to_frame()
positive_vocabulary

                                           IMDB Review  Sentiment
4    The best scene in the movie was when Gerardo i...          1
7    Saw the movie today and thought it was a good ...          1
9    Loved the casting of Jimmy Buffet as the scien...          1
10                And those baby owls were adorable.            1
11   The movie showed a lot of Florida at it's best...          1
..                                                 ...        ...
737  :) Anyway, the plot flowed smoothly and the ma...          1
738  The opening sequence of this gem is a classic,...          1
739             Fans of the genre will be in heaven.            1
740                Lange had become a great actress.            1
741                It looked like a wonderful story.            1

[386 rows x 2 columns]

              0
the       408.0
when       16.0
running     2.0
was        74.0
scene       6.0
...         ...
cat         1.0
sequence    1.0
lange       1.0
actress     1.0
looked      1.0

[1992 rows x 1 columns]

In [ ]:
total_positive_words = positive_vocabulary.sum(axis= 0).to_frame()
total_positive_words.columns = ["Total Positive words"]
total_positive_words['Total Positive words'][0]

In [ ]:
positive_word_probability = positive_vocabulary.div(total_positive_words["Total Positive words"][0], 0, 0)
positive_word_probability.columns = ['Probability']
positive_word_probability

In [ ]:
negative_sentiments = data[data['Sentiment'] == 0]
print(negative_sentiments)
negative_vocabulary = negative_sentiments["IMDB Review"].apply(lambda review: pd.value_counts(review.lower().replace(',', '').replace('"', '').replace('(', '').replace(')', '').replace('\'s', '').replace('.', '').replace('!', '').replace('-', ' ').replace('/', ' ').split())).sum(axis = 0).to_frame()
negative_vocabulary

In [28]:
total_negative_words = negative_vocabulary.sum(axis= 0).to_frame()
total_negative_words.columns = ["Total Negative words"]
total_negative_words['Total Negative words'][0]

7119.0

In [29]:
negative_word_probability = negative_vocabulary.div(total_negative_words["Total Negative words"][0], 0, 0)
negative_word_probability.columns = ['Probability']
negative_word_probability

          Probability
the          0.057311
when         0.002248
running      0.000281
was          0.010395
scene        0.000843
...               ...
cat          0.000140
sequence     0.000140
lange        0.000140
actress      0.000140
looked       0.000140

[1992 rows x 1 columns]