<a href="https://colab.research.google.com/github/VighneshS/sentiment_prediction/blob/master/sentiment_prediction.ipynb" target="_blank"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a href="https://vighnesh-studies.blogspot.com/2021/04/sentiment-prediction-using-naive-bayes.html" target="_blank">BLOG</a>

# Sentiment Prediction using Naive Bayes Classifier (NBC)
This is a notebook to understand how Naive Bayes Classifier (NBC) works and also how it is useful to classify text based on sentiment.

We will also see how it will be effective against missing data.

## Settings
Training Percentage

In [ ]:
TRAINING_RATIO = 80 / 100
K_FOLDS = 5
MOST_USEFUL_LIMIT = 20

MOST_COMMON_WORDS_IN_DATA_SET = ["movie", "film", "one"]

## CONSTANTS

In [ ]:
REVIEW_COL = "IMDB Review"
WORD_FREQ_COL = "Word Frequency"
SENTIMENT_COL = "Sentiment"
POS_SENTIMENT_WORD_FREQ_COL = "Positive Sentiment Word Frequency"
NEG_SENTIMENT_WORD_FREQ_COL = "Negative Sentiment Word Frequency"
P_SENTIMENT_POSITIVE_COL = "P(Sentiment = Positive)"
P_SENTIMENT_NEGATIVE_COL = "P(Sentiment = Negative)"
P_WORD_COL = "P(Word)"
WORD_COL = "Word"
P_WORD_GIVEN_SENTIMENT_POSITIVE_COL = "P(Word | Sentiment = Positive)"
P_WORD_GIVEN_SENTIMENT_NEGATIVE_COL = "P(Word | Sentiment = Negative)"
P_SENTIMENT_POSITIVE_GIVEN_SENTENCE_COL = "P(Sentiment = Positive | Sentence)"
P_SENTIMENT_NEGATIVE_GIVEN_SENTENCE_COL = "P(Sentiment = Negative | Sentence)"
PREDICTED_SENTIMENT_COL = "Predicted sentiment"

## Importing the Data
We used the [kaggle dataset](https://storage.googleapis.com/kagglesdsdata/datasets/22169/30047/sentiment%20labelled%20sentences/imdb_labelled.txt?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=gcp-kaggle-com%40kaggle-161607.iam.gserviceaccount.com%2F20210425%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20210425T202010Z&X-Goog-Expires=259199&X-Goog-SignedHeaders=host&X-Goog-Signature=6133706ef10bc2dcd0b58f8398b4d73ab9e9d788de1718b07334df91f6007e1e4ca0b78e3176f95b8250e0c4535ce1633528f4fabffeb7e4124af3ee3f895ac34c03044fca9b23b23c4ddb8fa90d84dfc14869ff4806f03783cafad53b19445b3c3052983fdf1ca4384257eac1bc0a4270d238a1ea89d1289866c7a0ea7ad7c97a76f2e142c148019e39cc5a1295f92650747ac5ea5946b026f7ad6d5d262d4c4a370aee6bc1f5d5b445bb6d93692debe678a79e5e1c1fe3d3e68ea4f2fad3115795d3361e0626e98156fbc7f5967beb7cf0f00e07351d23a00d8677ebb75e3e13b1bfa07762266efabf6f6f9d53206be31b7623cf3614f60f8cf5011cf23def) to get the ground truth of sample IMDB reviews.

In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np  # linear algebra
import pandas as pd  # data processing, CSV file I/O (e.g. pd.read_csv)
from IPython.display import display
import math
from sklearn.model_selection import KFold
import nltk
from nltk.corpus import stopwords

nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
stop_words = stopwords.words('english')

In [ ]:
# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

# import os
# for dirname, _, filenames in os.walk('/kaggle/input'):
#     for filename in filenames:
#         print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

data = pd.read_csv(
    r"http://storage.googleapis.com/kagglesdsdata/datasets/22169/30047/sentiment%20labelled%20sentences/imdb_labelled.txt?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=gcp-kaggle-com%40kaggle-161607.iam.gserviceaccount.com%2F20210425%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20210425T202010Z&X-Goog-Expires=259199&X-Goog-SignedHeaders=host&X-Goog-Signature=6133706ef10bc2dcd0b58f8398b4d73ab9e9d788de1718b07334df91f6007e1e4ca0b78e3176f95b8250e0c4535ce1633528f4fabffeb7e4124af3ee3f895ac34c03044fca9b23b23c4ddb8fa90d84dfc14869ff4806f03783cafad53b19445b3c3052983fdf1ca4384257eac1bc0a4270d238a1ea89d1289866c7a0ea7ad7c97a76f2e142c148019e39cc5a1295f92650747ac5ea5946b026f7ad6d5d262d4c4a370aee6bc1f5d5b445bb6d93692debe678a79e5e1c1fe3d3e68ea4f2fad3115795d3361e0626e98156fbc7f5967beb7cf0f00e07351d23a00d8677ebb75e3e13b1bfa07762266efabf6f6f9d53206be31b7623cf3614f60f8cf5011cf23def",
    delimiter="\t", header=None, names=[REVIEW_COL, SENTIMENT_COL])
data = data.sample(frac=1).reset_index(drop=True)

### Split Data
We split the data into train, development and test

In [ ]:
train = data[:math.floor(data.shape[0] * TRAINING_RATIO)]

In [ ]:
validation = data[math.floor(data.shape[0] * TRAINING_RATIO):].sample(frac=1).reset_index(drop=True)
dev, test = np.array_split(validation, 2)

In [ ]:
display(train, dev, test)

                                           IMDB Review  Sentiment
0    Technically, the film is well made with impres...          1
1                          This movie is so awesome!            1
2    The scenes are often funny and occasionally to...          1
3    I do not know if this was Emilio Estevez's dir...          1
4    There was a few pathetic attempts to give the ...          0
..                                                 ...        ...
593  Not frightening in the least, and barely compr...          0
594  The only place good for this film is in the ga...          0
595  This convention never worked well in the past,...          0
596  Hayao Miyazaki's latest and eighth film for St...          1
597  It is rare when a film-maker takes the time to...          1

[598 rows x 2 columns]

                                          IMDB Review  Sentiment
0               There still are good actors around!            1
1   Damian is so talented and versatile in so many...          1
2   The movie showed a lot of Florida at it's best...          1
3             I never walked out of a movie faster.            0
4   People who like European films and "art movies...          1
..                                                ...        ...
70  It felt like a very gripping, intelligent stag...          1
71                 It's a sad movie, but very good.            1
72  But other than that the movie seemed to drag a...          0
73  Lewis Black's considerable talent is wasted he...          0
74                   I mean this in a terrible way.            0

[75 rows x 2 columns]

                                           IMDB Review  Sentiment
75   I didn't realize how wonderful the short reall...          1
76   The movie in movie situations in the beginning...          1
77   Aside from it's terrible lead, this film has l...          0
78   The movie was so boring, that I sometimes foun...          0
79            Generally; it just lacked imagination.            0
..                                                 ...        ...
145  Everything from acting to cinematography was s...          1
146                             I rather enjoyed it.            1
147            Meredith M was better than all right.            1
148           You can find better movies at youtube.            0
149                   This is an extraordinary film.            1

[75 rows x 2 columns]

## Generation of Vocabulary list

In [ ]:
def split_words(review: str, remove_stop_words: bool):
    reviews_array = review.lower().replace(',', '').replace('"', '').replace('(', '').replace(')', '').replace('\'s',
                                                                                                               '').replace(
        '.',
        '').replace(
        '!', '').replace('/', ' ').split()
    return [w for w in reviews_array if not w in stop_words] if remove_stop_words else reviews_array


def get_word_count(review_data_frame: pd.DataFrame, column_name: str, remove_stop_words: bool):
    vocab = review_data_frame[REVIEW_COL].apply(lambda review: pd.value_counts(
        split_words(review, remove_stop_words))).count(axis=0).to_frame()
    vocab.columns = [column_name]
    vocab.reset_index(inplace=True)
    vocab = vocab.rename(columns={'index': WORD_COL})
    return vocab


## Get Naive Bayes Parameters
Here we have a function to genereate the Naive Bayes Parameters like:

1. Word Frequency
2. P(Word)
3. Positive Sentiment Word Frequency
4. P(Sentiment = Positive)
5. P(Word | Sentiment = Positive)
6. Negative Sentiment Word Frequency
7. P(Sentiment = Negative)
8. P(Word | Sentiment = Negative)

Which are useful in finding:

**P(Sentiment | Sentence (Collection of words)) = P(Sentence | Sentiment) * P(Sentiment) / P(Sentense)**

The P(Sentense) can be approximated to 1 as we are comparing sentiments the value will be cancelled on either sides

In [ ]:
def generate_naive_bayes_parameters(data_frame: pd.DataFrame, smoothening: bool, remove_stop_words: bool):
    naive_bayes_parameters = get_word_count(data_frame, WORD_FREQ_COL, remove_stop_words)
    if smoothening:
        naive_bayes_parameters[WORD_FREQ_COL] += 1

    total_words = naive_bayes_parameters[WORD_FREQ_COL].sum(axis=0)
    if smoothening:
        total_words += 2

    total_sentiments = data_frame.count(axis=0)[SENTIMENT_COL]
    if smoothening:
        total_sentiments += 2

    naive_bayes_parameters[P_WORD_COL] = naive_bayes_parameters[WORD_FREQ_COL].div(total_words)

    positive_sentiments = data_frame[data_frame[SENTIMENT_COL] == 1]
    positive_vocabulary = get_word_count(positive_sentiments, POS_SENTIMENT_WORD_FREQ_COL, remove_stop_words)
    naive_bayes_parameters = naive_bayes_parameters.merge(positive_vocabulary, how='left', on=WORD_COL)
    if smoothening:
        naive_bayes_parameters[POS_SENTIMENT_WORD_FREQ_COL] += 1
        naive_bayes_parameters[POS_SENTIMENT_WORD_FREQ_COL] = naive_bayes_parameters[
            POS_SENTIMENT_WORD_FREQ_COL].fillna(
            value=1)

    total_positive_words = positive_sentiments.count(axis=0)[SENTIMENT_COL]
    if smoothening:
        total_positive_words += 2

    probability_of_positive_sentiments = total_positive_words / total_sentiments
    naive_bayes_parameters[P_SENTIMENT_POSITIVE_COL] = probability_of_positive_sentiments

    naive_bayes_parameters[P_WORD_GIVEN_SENTIMENT_POSITIVE_COL] = naive_bayes_parameters[
        POS_SENTIMENT_WORD_FREQ_COL].div(
        total_positive_words)

    negative_sentiments = data_frame[data_frame[SENTIMENT_COL] == 0]
    negative_vocabulary = get_word_count(negative_sentiments, NEG_SENTIMENT_WORD_FREQ_COL, remove_stop_words)
    naive_bayes_parameters = naive_bayes_parameters.merge(negative_vocabulary, how='left', on=WORD_COL)
    if smoothening:
        naive_bayes_parameters[NEG_SENTIMENT_WORD_FREQ_COL] += 1
        naive_bayes_parameters[NEG_SENTIMENT_WORD_FREQ_COL] = naive_bayes_parameters[
            NEG_SENTIMENT_WORD_FREQ_COL].fillna(
            value=1)

    total_negative_words = negative_sentiments.count(axis=0)[SENTIMENT_COL]
    if smoothening:
        total_negative_words += 2

    probability_of_negative_sentiments = total_negative_words / total_sentiments
    naive_bayes_parameters[P_SENTIMENT_NEGATIVE_COL] = probability_of_negative_sentiments

    naive_bayes_parameters[P_WORD_GIVEN_SENTIMENT_NEGATIVE_COL] = naive_bayes_parameters[
        NEG_SENTIMENT_WORD_FREQ_COL].div(
        total_negative_words)

    return naive_bayes_parameters


## To Get the Probabilities

We use this formula to get the probabilities:

**P(Sentiment | Sentence (Collection of words)) = P(Sentence | Sentiment) * P(Sentiment) / P(Sentense)**

The below function will calculate the numerator part and assumes the denominator to be 1 as it will cancel out during
comparison.

For calculating the P(Sentence | Sentiment) we have words in sentences. So, we can write the formula as:

**P(Sentence | Sentiment) = P(Word_1,Word_2,...,Word_n | Sentiment)**

By Naive Bayes Theorem we can write it as:

**P(Word_1,Word_2,...,Word_n | Sentiment) = P(Word_1 | Sentiment).P(Word_2 | Sentiment). ... .P(Word_n | Sentiment)**

In [ ]:
def get_probabilities(review: str, naive_bayes_parameters: pd.DataFrame, sentiment: bool, smoothening: bool,
                      remove_stop_words: bool):
    prob = 1
    column_name = P_WORD_GIVEN_SENTIMENT_POSITIVE_COL if sentiment else P_WORD_GIVEN_SENTIMENT_NEGATIVE_COL
    individual_prob = 0 if not smoothening else 1 / (
        naive_bayes_parameters[P_SENTIMENT_POSITIVE_COL][0] if sentiment else naive_bayes_parameters[
            P_SENTIMENT_NEGATIVE_COL][0])
    for word in split_words(review, remove_stop_words):
        if word in naive_bayes_parameters.values:
            individual_prob = naive_bayes_parameters[naive_bayes_parameters[WORD_COL] == word].iloc[0][column_name]
        prob *= 0 if math.isnan(individual_prob) else individual_prob
    return prob * (naive_bayes_parameters[P_SENTIMENT_POSITIVE_COL][0] if sentiment else naive_bayes_parameters[
        P_SENTIMENT_NEGATIVE_COL][0])

In [ ]:
def predict_calculate_accuracy(data_frame: pd.DataFrame, naive_bayes_parameters: pd.DataFrame, smoothening: bool,
                               remove_stop_words: bool):
    data_frame[P_SENTIMENT_POSITIVE_GIVEN_SENTENCE_COL] = data_frame[REVIEW_COL].apply(
        lambda review: get_probabilities(review, naive_bayes_parameters, True, smoothening, remove_stop_words))
    data_frame[P_SENTIMENT_NEGATIVE_GIVEN_SENTENCE_COL] = data_frame[REVIEW_COL].apply(
        lambda review: get_probabilities(review, naive_bayes_parameters, False, smoothening, remove_stop_words))
    data_frame[PREDICTED_SENTIMENT_COL] = data_frame[P_SENTIMENT_POSITIVE_GIVEN_SENTENCE_COL] > data_frame[
        P_SENTIMENT_NEGATIVE_GIVEN_SENTENCE_COL]
    accuracy = data_frame.loc[data_frame[PREDICTED_SENTIMENT_COL] == data_frame[SENTIMENT_COL]].count(axis=0)[
                   SENTIMENT_COL] * 100 / data_frame.count(axis=0)[SENTIMENT_COL]
    print("Accuracy: ", accuracy)
    # print("Wrong Predictions:")
    # display(data_frame.loc[data_frame[PREDICTED_SENTIMENT_COL] != data_frame[SENTIMENT_COL]].reset_index(drop=True))
    return accuracy

## Calculating Accuracy

To calculate accuracy we first divide the training dataset into k parts of train and test the first part of the
set is used to train the dataset with the remaining k-1 test dataset.

We then predict using the Naive bayes parameters that we get from training against the test data.

We then calculate the accuracy by finding (how many data is of correct prediction)/(total number of datasets)

With the parameters having the best accuracy is chosen from this and used for further validation of dev anf test
datasets which we separated in the beginning.

In [ ]:
def five_fold_cross_validation(data_frame: pd.DataFrame, smoothening: bool, remove_stop_words: bool):
    kf = KFold(n_splits=K_FOLDS, shuffle=True)
    train_folds = kf.split(data_frame)
    accuracies = []
    max_accuracy_naive_bayes_parameters = pd.DataFrame()
    for (train_training, train_testing), index in zip(train_folds, range(5)):
        print(f"---------------------------Fold {index + 1}---------------------------------")
        display(train.loc[train_training])
        trained_parameters = generate_naive_bayes_parameters(train.loc[train_training], smoothening, remove_stop_words)
        accuracy = predict_calculate_accuracy(train.loc[train_testing], trained_parameters, smoothening,
                                              remove_stop_words)
        accuracies.append(accuracy)
        max_accuracy_naive_bayes_parameters = trained_parameters if max(
            accuracies) == accuracy else max_accuracy_naive_bayes_parameters
        display(trained_parameters)
    return max_accuracy_naive_bayes_parameters


vocabulary = five_fold_cross_validation(train, False, False)
vocabulary

---------------------------Fold 1---------------------------------

                                           IMDB Review  Sentiment
1                          This movie is so awesome!            1
2    The scenes are often funny and occasionally to...          1
3    I do not know if this was Emilio Estevez's dir...          1
4    There was a few pathetic attempts to give the ...          0
5    In fact, this stinker smells like a direct-to-...          0
..                                                 ...        ...
590  The acting is fantastic, the stories are seaml...          1
591  20th Century Fox's ROAD HOUSE 1948) is not onl...          0
592  Just consider the excellent story, solid actin...          1
593  Not frightening in the least, and barely compr...          0
595  This convention never worked well in the past,...          0

[478 rows x 2 columns]

Accuracy:  60.0

                Word  ...  P(Word | Sentiment = Negative)
0                 is  ...                        0.318777
1               this  ...                        0.292576
2              movie  ...                        0.165939
3                 so  ...                        0.082969
4            awesome  ...                        0.004367
...              ...  ...                             ...
2560         bonuses  ...                             NaN
2561  comprehensible  ...                        0.004367
2562            past  ...                        0.004367
2563      convention  ...                        0.004367
2564          worked  ...                        0.004367

[2565 rows x 9 columns]

---------------------------Fold 2---------------------------------

                                           IMDB Review  Sentiment
0    Technically, the film is well made with impres...          1
1                          This movie is so awesome!            1
2    The scenes are often funny and occasionally to...          1
3    I do not know if this was Emilio Estevez's dir...          1
4    There was a few pathetic attempts to give the ...          0
..                                                 ...        ...
593  Not frightening in the least, and barely compr...          0
594  The only place good for this film is in the ga...          0
595  This convention never worked well in the past,...          0
596  Hayao Miyazaki's latest and eighth film for St...          1
597  It is rare when a film-maker takes the time to...          1

[478 rows x 2 columns]

Accuracy:  63.333333333333336

            Word  ...  P(Word | Sentiment = Negative)
0             is  ...                        0.343478
1              a  ...                        0.286957
2           from  ...                        0.034783
3         coming  ...                             NaN
4          vocal  ...                             NaN
...          ...  ...                             ...
2265      overly  ...                             NaN
2266  film-maker  ...                             NaN
2267        fall  ...                             NaN
2268      worthy  ...                             NaN
2269        trap  ...                             NaN

[2270 rows x 9 columns]

---------------------------Fold 3---------------------------------

                                           IMDB Review  Sentiment
0    Technically, the film is well made with impres...          1
2    The scenes are often funny and occasionally to...          1
3    I do not know if this was Emilio Estevez's dir...          1
4    There was a few pathetic attempts to give the ...          0
5    In fact, this stinker smells like a direct-to-...          0
..                                                 ...        ...
592  Just consider the excellent story, solid actin...          1
594  The only place good for this film is in the ga...          0
595  This convention never worked well in the past,...          0
596  Hayao Miyazaki's latest and eighth film for St...          1
597  It is rare when a film-maker takes the time to...          1

[478 rows x 2 columns]

Accuracy:  59.166666666666664

            Word  ...  P(Word | Sentiment = Negative)
0             is  ...                        0.337449
1              a  ...                        0.308642
2           from  ...                        0.045267
3         coming  ...                             NaN
4          vocal  ...                             NaN
...          ...  ...                             ...
2563      overly  ...                             NaN
2564  film-maker  ...                             NaN
2565      worthy  ...                             NaN
2566        trap  ...                             NaN
2567       moral  ...                             NaN

[2568 rows x 9 columns]

---------------------------Fold 4---------------------------------

                                           IMDB Review  Sentiment
0    Technically, the film is well made with impres...          1
1                          This movie is so awesome!            1
2    The scenes are often funny and occasionally to...          1
5    In fact, this stinker smells like a direct-to-...          0
6         Lame would be the best way to describe it.            0
..                                                 ...        ...
592  Just consider the excellent story, solid actin...          1
593  Not frightening in the least, and barely compr...          0
594  The only place good for this film is in the ga...          0
596  Hayao Miyazaki's latest and eighth film for St...          1
597  It is rare when a film-maker takes the time to...          1

[479 rows x 2 columns]

Accuracy:  57.142857142857146

            Word  ...  P(Word | Sentiment = Negative)
0             is  ...                        0.327731
1              a  ...                        0.298319
2           from  ...                        0.042017
3         coming  ...                             NaN
4          vocal  ...                             NaN
...          ...  ...                             ...
2498      overly  ...                             NaN
2499  film-maker  ...                             NaN
2500      worthy  ...                             NaN
2501        trap  ...                             NaN
2502       takes  ...                             NaN

[2503 rows x 9 columns]

---------------------------Fold 5---------------------------------

                                           IMDB Review  Sentiment
0    Technically, the film is well made with impres...          1
1                          This movie is so awesome!            1
3    I do not know if this was Emilio Estevez's dir...          1
4    There was a few pathetic attempts to give the ...          0
5    In fact, this stinker smells like a direct-to-...          0
..                                                 ...        ...
593  Not frightening in the least, and barely compr...          0
594  The only place good for this film is in the ga...          0
595  This convention never worked well in the past,...          0
596  Hayao Miyazaki's latest and eighth film for St...          1
597  It is rare when a film-maker takes the time to...          1

[479 rows x 2 columns]

Accuracy:  65.54621848739495

            Word  ...  P(Word | Sentiment = Negative)
0             is  ...                        0.327586
1              a  ...                        0.284483
2           from  ...                        0.043103
3         coming  ...                             NaN
4          vocal  ...                             NaN
...          ...  ...                             ...
2305        rare  ...                             NaN
2306      overly  ...                             NaN
2307  film-maker  ...                             NaN
2308      worthy  ...                             NaN
2309        trap  ...                             NaN

[2310 rows x 9 columns]

            Word  ...  P(Word | Sentiment = Negative)
0             is  ...                        0.327586
1              a  ...                        0.284483
2           from  ...                        0.043103
3         coming  ...                             NaN
4          vocal  ...                             NaN
...          ...  ...                             ...
2305        rare  ...                             NaN
2306      overly  ...                             NaN
2307  film-maker  ...                             NaN
2308      worthy  ...                             NaN
2309        trap  ...                             NaN

[2310 rows x 9 columns]

In [ ]:
predict_calculate_accuracy(train, vocabulary, False, False)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

Accuracy:  92.3076923076923

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

92.3076923076923

In [ ]:
predict_calculate_accuracy(dev, vocabulary, False, False)

Accuracy:  60.0

60.0

In [ ]:
predict_calculate_accuracy(test, vocabulary, False, False)

Accuracy:  62.666666666666664

62.666666666666664

## Most Useful words before Smoothing

In [ ]:
print("Most Useful Positive sentiment words:")
vocabulary.sort_values(P_WORD_GIVEN_SENTIMENT_POSITIVE_COL, ascending=False)[:MOST_USEFUL_LIMIT]

Most Useful Positive sentiment words:

      Word  ...  P(Word | Sentiment = Negative)
19     the  ...                        0.439655
29     and  ...                        0.284483
1        a  ...                        0.284483
39      of  ...                        0.280172
31      it  ...                        0.250000
0       is  ...                        0.327586
32    this  ...                        0.297414
44       i  ...                        0.219828
74      to  ...                        0.224138
80      in  ...                        0.181034
24    film  ...                        0.112069
59     was  ...                        0.185345
22    that  ...                        0.150862
33   movie  ...                        0.150862
41     but  ...                        0.107759
27    with  ...                        0.073276
227    for  ...                        0.094828
36      as  ...                        0.081897
136    you  ...                        0.068966
26    good  ...                        0.034483

[20 rows x 9 columns]

In [ ]:
print("Most Useful Negative sentiment words:")
vocabulary.sort_values(P_WORD_GIVEN_SENTIMENT_NEGATIVE_COL, ascending=False)[:MOST_USEFUL_LIMIT]

Most Useful Negative sentiment words:

      Word  ...  P(Word | Sentiment = Negative)
19     the  ...                        0.439655
0       is  ...                        0.327586
32    this  ...                        0.297414
1        a  ...                        0.284483
29     and  ...                        0.284483
39      of  ...                        0.280172
31      it  ...                        0.250000
74      to  ...                        0.224138
44       i  ...                        0.219828
59     was  ...                        0.185345
80      in  ...                        0.181034
22    that  ...                        0.150862
33   movie  ...                        0.150862
24    film  ...                        0.112069
41     but  ...                        0.107759
119   just  ...                        0.099138
42     not  ...                        0.099138
186    bad  ...                        0.094828
227    for  ...                        0.094828
70   there  ...                        0.086207

[20 rows x 9 columns]

## Smoothening

Smoothening is done to compensate for unknown words. As all words can't be added to a dictionary and Naive Bayes is
specialized to handle missing words.

Smoothening is done by using the +1 method it is done in the get_naive_bayes_parameters function.

All it does is adding +1 to the following:
1. Word Frequency
2. Positive Sentiment Word Frequency
3. Negative Sentiment Word Frequency

Also, +2 for Number of sentiments as these terms are in the denominator and needs to adhere and compensate for the +1 in
the numerator so that the probability of most occurrence words will be less than 1
1. Total words
2. Total Positive sentiments
3. Total Negative sentiments
4. Total sentiments

In [ ]:
vocabulary = five_fold_cross_validation(train, True, False)
vocabulary

---------------------------Fold 1---------------------------------

                                           IMDB Review  ...  Predicted sentiment
0    Technically, the film is well made with impres...  ...                 True
1                          This movie is so awesome!    ...                 True
2    The scenes are often funny and occasionally to...  ...                 True
3    I do not know if this was Emilio Estevez's dir...  ...                 True
4    There was a few pathetic attempts to give the ...  ...                False
..                                                 ...  ...                  ...
593  Not frightening in the least, and barely compr...  ...                False
594  The only place good for this film is in the ga...  ...                False
595  This convention never worked well in the past,...  ...                False
596  Hayao Miyazaki's latest and eighth film for St...  ...                 True
597  It is rare when a film-maker takes the time to...  ...                 True

[478 rows x 5 columns]

Accuracy:  72.5

            Word  ...  P(Word | Sentiment = Negative)
0             is  ...                        0.333333
1              a  ...                        0.294372
2           from  ...                        0.043290
3         coming  ...                        0.004329
4          vocal  ...                        0.004329
...          ...  ...                             ...
2421        rare  ...                        0.004329
2422      overly  ...                        0.004329
2423  film-maker  ...                        0.004329
2424      worthy  ...                        0.004329
2425        trap  ...                        0.004329

[2426 rows x 9 columns]

---------------------------Fold 2---------------------------------

                                           IMDB Review  ...  Predicted sentiment
0    Technically, the film is well made with impres...  ...                 True
1                          This movie is so awesome!    ...                 True
3    I do not know if this was Emilio Estevez's dir...  ...                 True
5    In fact, this stinker smells like a direct-to-...  ...                False
6         Lame would be the best way to describe it.    ...                False
..                                                 ...  ...                  ...
591  20th Century Fox's ROAD HOUSE 1948) is not onl...  ...                False
592  Just consider the excellent story, solid actin...  ...                 True
593  Not frightening in the least, and barely compr...  ...                False
594  The only place good for this film is in the ga...  ...                False
595  This convention never worked well in the past,...  ...                False

[478 rows x 5 columns]

Accuracy:  80.0

                Word  ...  P(Word | Sentiment = Negative)
0                 is  ...                        0.340426
1                  a  ...                        0.302128
2               from  ...                        0.046809
3             coming  ...                        0.004255
4              vocal  ...                        0.004255
...              ...  ...                             ...
2578           added  ...                        0.004255
2579         bonuses  ...                        0.004255
2580  comprehensible  ...                        0.008511
2581      convention  ...                        0.008511
2582          worked  ...                        0.008511

[2583 rows x 9 columns]

---------------------------Fold 3---------------------------------

                                           IMDB Review  ...  Predicted sentiment
0    Technically, the film is well made with impres...  ...                 True
1                          This movie is so awesome!    ...                 True
2    The scenes are often funny and occasionally to...  ...                 True
4    There was a few pathetic attempts to give the ...  ...                False
6         Lame would be the best way to describe it.    ...                False
..                                                 ...  ...                  ...
592  Just consider the excellent story, solid actin...  ...                 True
594  The only place good for this film is in the ga...  ...                False
595  This convention never worked well in the past,...  ...                False
596  Hayao Miyazaki's latest and eighth film for St...  ...                 True
597  It is rare when a film-maker takes the time to...  ...                 True

[478 rows x 5 columns]

Accuracy:  78.33333333333333

            Word  ...  P(Word | Sentiment = Negative)
0             is  ...                        0.339056
1              a  ...                        0.291845
2           from  ...                        0.047210
3         coming  ...                        0.004292
4          vocal  ...                        0.004292
...          ...  ...                             ...
2311      overly  ...                        0.004292
2312  film-maker  ...                        0.004292
2313      worthy  ...                        0.004292
2314        trap  ...                        0.004292
2315       takes  ...                        0.004292

[2316 rows x 9 columns]

---------------------------Fold 4---------------------------------

                                           IMDB Review  ...  Predicted sentiment
1                          This movie is so awesome!    ...                 True
2    The scenes are often funny and occasionally to...  ...                 True
3    I do not know if this was Emilio Estevez's dir...  ...                 True
4    There was a few pathetic attempts to give the ...  ...                False
5    In fact, this stinker smells like a direct-to-...  ...                False
..                                                 ...  ...                  ...
592  Just consider the excellent story, solid actin...  ...                 True
593  Not frightening in the least, and barely compr...  ...                False
595  This convention never worked well in the past,...  ...                False
596  Hayao Miyazaki's latest and eighth film for St...  ...                 True
597  It is rare when a film-maker takes the time to...  ...                 True

[479 rows x 5 columns]

Accuracy:  69.74789915966386

            Word  ...  P(Word | Sentiment = Negative)
0             is  ...                        0.309322
1           this  ...                        0.258475
2          movie  ...                        0.161017
3             so  ...                        0.084746
4        awesome  ...                        0.008475
...          ...  ...                             ...
2369      overly  ...                        0.004237
2370  film-maker  ...                        0.004237
2371        fall  ...                        0.004237
2372      worthy  ...                        0.004237
2373        trap  ...                        0.004237

[2374 rows x 9 columns]

---------------------------Fold 5---------------------------------

                                           IMDB Review  ...  Predicted sentiment
0    Technically, the film is well made with impres...  ...                 True
2    The scenes are often funny and occasionally to...  ...                 True
3    I do not know if this was Emilio Estevez's dir...  ...                 True
4    There was a few pathetic attempts to give the ...  ...                False
5    In fact, this stinker smells like a direct-to-...  ...                False
..                                                 ...  ...                  ...
592  Just consider the excellent story, solid actin...  ...                 True
593  Not frightening in the least, and barely compr...  ...                False
594  The only place good for this film is in the ga...  ...                False
596  Hayao Miyazaki's latest and eighth film for St...  ...                 True
597  It is rare when a film-maker takes the time to...  ...                 True

[479 rows x 5 columns]

Accuracy:  75.63025210084034

            Word  ...  P(Word | Sentiment = Negative)
0             is  ...                        0.340081
1              a  ...                        0.295547
2           from  ...                        0.052632
3         coming  ...                        0.004049
4          vocal  ...                        0.004049
...          ...  ...                             ...
2515      overly  ...                        0.004049
2516  film-maker  ...                        0.004049
2517      worthy  ...                        0.004049
2518        trap  ...                        0.004049
2519       moral  ...                        0.004049

[2520 rows x 9 columns]

                Word  ...  P(Word | Sentiment = Negative)
0                 is  ...                        0.340426
1                  a  ...                        0.302128
2               from  ...                        0.046809
3             coming  ...                        0.004255
4              vocal  ...                        0.004255
...              ...  ...                             ...
2578           added  ...                        0.004255
2579         bonuses  ...                        0.004255
2580  comprehensible  ...                        0.008511
2581      convention  ...                        0.008511
2582          worked  ...                        0.008511

[2583 rows x 9 columns]

In [ ]:
predict_calculate_accuracy(train, vocabulary, True, False)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

Accuracy:  93.47826086956522

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

93.47826086956522

In [ ]:
predict_calculate_accuracy(dev, vocabulary, True, False)

Accuracy:  70.66666666666667

70.66666666666667

In [ ]:
predict_calculate_accuracy(test, vocabulary, True, False)

Accuracy:  61.333333333333336

61.333333333333336

## Most Useful words after Smoothing

In [ ]:
print("Most Useful Positive sentiment words:")
vocabulary.sort_values(P_WORD_GIVEN_SENTIMENT_POSITIVE_COL, ascending=False)[:MOST_USEFUL_LIMIT]

Most Useful Positive sentiment words:

      Word  ...  P(Word | Sentiment = Negative)
19     the  ...                        0.497872
29     and  ...                        0.310638
1        a  ...                        0.302128
39      of  ...                        0.302128
31      it  ...                        0.263830
0       is  ...                        0.340426
32    this  ...                        0.319149
72      to  ...                        0.255319
44       i  ...                        0.238298
68      in  ...                        0.204255
33   movie  ...                        0.165957
59     was  ...                        0.182979
22    that  ...                        0.178723
24    film  ...                        0.123404
41     but  ...                        0.102128
27    with  ...                        0.106383
36      as  ...                        0.097872
211    for  ...                        0.127660
121    you  ...                        0.093617
89     are  ...                        0.072340

[20 rows x 9 columns]

In [ ]:
print("Most Useful Negative sentiment words:")
vocabulary.sort_values(P_WORD_GIVEN_SENTIMENT_NEGATIVE_COL, ascending=False)[:MOST_USEFUL_LIMIT]

Most Useful Negative sentiment words:

      Word  ...  P(Word | Sentiment = Negative)
19     the  ...                        0.497872
0       is  ...                        0.340426
32    this  ...                        0.319149
29     and  ...                        0.310638
39      of  ...                        0.302128
1        a  ...                        0.302128
31      it  ...                        0.263830
72      to  ...                        0.255319
44       i  ...                        0.238298
68      in  ...                        0.204255
59     was  ...                        0.182979
22    that  ...                        0.178723
33   movie  ...                        0.165957
211    for  ...                        0.127660
24    film  ...                        0.123404
170    bad  ...                        0.123404
42     not  ...                        0.119149
168   just  ...                        0.110638
27    with  ...                        0.106383
60     all  ...                        0.102128

[20 rows x 9 columns]

## Inference

From the above we can see the effect of smoothening at the time of runtime with accuracy increase of 15%.

Also, from the most useful words we can see 2 things.
1. The most common words are the useful words.
2. The most common words, and some words have higher probability in both positive and negative sentiments.

This shows us that these data need to be removed.

For doing these as future work we can remove stop words from Pythons old NLTK library for stop words.
Also, we can remove the more frequent words like the movie, film as it is both positive and negative which is
logical as it is a movie database...

## Removing Stop Words and positive and negative words [Bonus Experiment]

For this as described in the inference we use the NLTK Library and add the most positive and negative words to the stop words.

In [ ]:
for common_words in MOST_COMMON_WORDS_IN_DATA_SET: stop_words.append(common_words)

In [ ]:
vocabulary = five_fold_cross_validation(train, True, True)
vocabulary

---------------------------Fold 1---------------------------------

                                           IMDB Review  ...  Predicted sentiment
0    Technically, the film is well made with impres...  ...                 True
1                          This movie is so awesome!    ...                False
2    The scenes are often funny and occasionally to...  ...                 True
4    There was a few pathetic attempts to give the ...  ...                False
5    In fact, this stinker smells like a direct-to-...  ...                False
..                                                 ...  ...                  ...
592  Just consider the excellent story, solid actin...  ...                 True
593  Not frightening in the least, and barely compr...  ...                False
594  The only place good for this film is in the ga...  ...                False
595  This convention never worked well in the past,...  ...                False
596  Hayao Miyazaki's latest and eighth film for St...  ...                False

[478 rows x 5 columns]

Accuracy:  80.0

             Word  ...  P(Word | Sentiment = Negative)
0       recurring  ...                        0.004149
1            well  ...                        0.033195
2            like  ...                        0.053942
3          female  ...                        0.008299
4     technically  ...                        0.004149
...           ...  ...                             ...
2268  imaginative  ...                        0.004149
2269       latest  ...                        0.004149
2270       eighth  ...                        0.004149
2271         gake  ...                        0.004149
2272        hayao  ...                        0.004149

[2273 rows x 9 columns]

---------------------------Fold 2---------------------------------

                                           IMDB Review  ...  Predicted sentiment
1                          This movie is so awesome!    ...                False
2    The scenes are often funny and occasionally to...  ...                 True
3    I do not know if this was Emilio Estevez's dir...  ...                 True
6         Lame would be the best way to describe it.    ...                False
7    the movie is littered with overt racial slurs ...  ...                False
..                                                 ...  ...                  ...
593  Not frightening in the least, and barely compr...  ...                False
594  The only place good for this film is in the ga...  ...                False
595  This convention never worked well in the past,...  ...                False
596  Hayao Miyazaki's latest and eighth film for St...  ...                False
597  It is rare when a film-maker takes the time to...  ...                 True

[478 rows x 5 columns]

Accuracy:  63.333333333333336

            Word  ...  P(Word | Sentiment = Negative)
0        awesome  ...                        0.008368
1       touching  ...                        0.004184
2     characters  ...                        0.041841
3          funny  ...                        0.016736
4          lives  ...                        0.004184
...          ...  ...                             ...
2405        trap  ...                        0.004184
2406        rare  ...                        0.004184
2407      worthy  ...                        0.004184
2408   indulgent  ...                        0.004184
2409  film-maker  ...                        0.004184

[2410 rows x 9 columns]

---------------------------Fold 3---------------------------------

                                           IMDB Review  ...  Predicted sentiment
0    Technically, the film is well made with impres...  ...                 True
1                          This movie is so awesome!    ...                False
2    The scenes are often funny and occasionally to...  ...                 True
3    I do not know if this was Emilio Estevez's dir...  ...                 True
4    There was a few pathetic attempts to give the ...  ...                False
..                                                 ...  ...                  ...
591  20th Century Fox's ROAD HOUSE 1948) is not onl...  ...                False
592  Just consider the excellent story, solid actin...  ...                 True
594  The only place good for this film is in the ga...  ...                False
595  This convention never worked well in the past,...  ...                False
597  It is rare when a film-maker takes the time to...  ...                 True

[478 rows x 5 columns]

Accuracy:  72.5

             Word  ...  P(Word | Sentiment = Negative)
0       recurring  ...                        0.004274
1            well  ...                        0.025641
2            like  ...                        0.051282
3          female  ...                        0.008547
4     technically  ...                        0.004274
...           ...  ...                             ...
2395         trap  ...                        0.004274
2396         rare  ...                        0.004274
2397       worthy  ...                        0.004274
2398    indulgent  ...                        0.004274
2399   film-maker  ...                        0.004274

[2400 rows x 9 columns]

---------------------------Fold 4---------------------------------

                                           IMDB Review  ...  Predicted sentiment
0    Technically, the film is well made with impres...  ...                 True
1                          This movie is so awesome!    ...                False
3    I do not know if this was Emilio Estevez's dir...  ...                 True
4    There was a few pathetic attempts to give the ...  ...                False
5    In fact, this stinker smells like a direct-to-...  ...                False
..                                                 ...  ...                  ...
591  20th Century Fox's ROAD HOUSE 1948) is not onl...  ...                False
592  Just consider the excellent story, solid actin...  ...                 True
593  Not frightening in the least, and barely compr...  ...                False
596  Hayao Miyazaki's latest and eighth film for St...  ...                False
597  It is rare when a film-maker takes the time to...  ...                 True

[479 rows x 5 columns]

Accuracy:  78.99159663865547

             Word  ...  P(Word | Sentiment = Negative)
0       recurring  ...                        0.004425
1            well  ...                        0.030973
2            like  ...                        0.035398
3          female  ...                        0.008850
4     technically  ...                        0.004425
...           ...  ...                             ...
2086         trap  ...                        0.004425
2087         rare  ...                        0.004425
2088       worthy  ...                        0.004425
2089    indulgent  ...                        0.004425
2090   film-maker  ...                        0.004425

[2091 rows x 9 columns]

---------------------------Fold 5---------------------------------

                                           IMDB Review  ...  Predicted sentiment
0    Technically, the film is well made with impres...  ...                 True
2    The scenes are often funny and occasionally to...  ...                 True
3    I do not know if this was Emilio Estevez's dir...  ...                 True
4    There was a few pathetic attempts to give the ...  ...                False
5    In fact, this stinker smells like a direct-to-...  ...                False
..                                                 ...  ...                  ...
593  Not frightening in the least, and barely compr...  ...                False
594  The only place good for this film is in the ga...  ...                False
595  This convention never worked well in the past,...  ...                False
596  Hayao Miyazaki's latest and eighth film for St...  ...                False
597  It is rare when a film-maker takes the time to...  ...                 True

[479 rows x 5 columns]

Accuracy:  68.90756302521008

             Word  ...  P(Word | Sentiment = Negative)
0       recurring  ...                        0.004132
1            well  ...                        0.033058
2            like  ...                        0.045455
3          female  ...                        0.004132
4     technically  ...                        0.004132
...           ...  ...                             ...
2367         trap  ...                        0.004132
2368         rare  ...                        0.004132
2369       worthy  ...                        0.004132
2370    indulgent  ...                        0.004132
2371   film-maker  ...                        0.004132

[2372 rows x 9 columns]

             Word  ...  P(Word | Sentiment = Negative)
0       recurring  ...                        0.004149
1            well  ...                        0.033195
2            like  ...                        0.053942
3          female  ...                        0.008299
4     technically  ...                        0.004149
...           ...  ...                             ...
2268  imaginative  ...                        0.004149
2269       latest  ...                        0.004149
2270       eighth  ...                        0.004149
2271         gake  ...                        0.004149
2272        hayao  ...                        0.004149

[2273 rows x 9 columns]

In [ ]:
predict_calculate_accuracy(train, vocabulary, True, True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

Accuracy:  94.14715719063545

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

94.14715719063545

In [ ]:
predict_calculate_accuracy(dev, vocabulary, True, True)

Accuracy:  69.33333333333333

69.33333333333333

In [ ]:
predict_calculate_accuracy(test, vocabulary, True, True)

Accuracy:  73.33333333333333

73.33333333333333

In [ ]:
print("Most Useful Positive sentiment words:")
vocabulary.sort_values(P_WORD_GIVEN_SENTIMENT_POSITIVE_COL, ascending=False)[:MOST_USEFUL_LIMIT]

Most Useful Positive sentiment words:

           Word  ...  P(Word | Sentiment = Negative)
14         good  ...                        0.045643
2          like  ...                        0.053942
301         see  ...                        0.045643
143       great  ...                        0.020747
99         best  ...                        0.008299
253   wonderful  ...                        0.008299
33       really  ...                        0.045643
25   characters  ...                        0.041494
26        funny  ...                        0.012448
174        time  ...                        0.058091
124        also  ...                        0.024896
17       acting  ...                        0.058091
215       think  ...                        0.016598
417       still  ...                        0.008299
144      movies  ...                        0.020747
71    character  ...                        0.016598
1          well  ...                        0.033195
83        films  ...                        0.020747
67          way  ...                        0.024896
63        every  ...                        0.012448

[20 rows x 9 columns]

In [ ]:
print("Most Useful Negative sentiment words:")
vocabulary.sort_values(P_WORD_GIVEN_SENTIMENT_NEGATIVE_COL, ascending=False)[:MOST_USEFUL_LIMIT]

Most Useful Negative sentiment words:

           Word  ...  P(Word | Sentiment = Negative)
110         bad  ...                        0.124481
392        even  ...                        0.070539
38         plot  ...                        0.058091
174        time  ...                        0.058091
17       acting  ...                        0.058091
2          like  ...                        0.053942
620       would  ...                        0.053942
220      little  ...                        0.049793
325       could  ...                        0.049793
33       really  ...                        0.045643
690     nothing  ...                        0.045643
725        much  ...                        0.045643
538           -  ...                        0.045643
301         see  ...                        0.045643
14         good  ...                        0.045643
439        show  ...                        0.041494
351       waste  ...                        0.041494
178        make  ...                        0.041494
25   characters  ...                        0.041494
910       worst  ...                        0.037344

[20 rows x 9 columns]