<a href="https://colab.research.google.com/github/VighneshS/sentiment_prediction/blob/master/sentiment_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a href="https://colab.research.google.com/github/VighneshS/sentiment_prediction/blob/master/sentiment_prediction.ipynb" target="_blank"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a href="https://vighnesh-studies.blogspot.com/2021/04/sentiment-prediction-using-naive-bayes.html" target="_blank">BLOG</a>

# Sentiment Prediction using Naive Bayes Classifier (NBC)
This is a notebook to understand how Naive Bayes Classifier (NBC) works and also how it is useful to classify text based on sentiment.

We will also see how it will be effective against missing data.

## Settings
Training Percentage

In [80]:
training_ratio = 80 / 100
k = 5
most_useful_limit = 20

## Importing the Data
We used the [kaggle dataset](https://storage.googleapis.com/kagglesdsdata/datasets/22169/30047/sentiment%20labelled%20sentences/imdb_labelled.txt?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=gcp-kaggle-com%40kaggle-161607.iam.gserviceaccount.com%2F20210425%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20210425T202010Z&X-Goog-Expires=259199&X-Goog-SignedHeaders=host&X-Goog-Signature=6133706ef10bc2dcd0b58f8398b4d73ab9e9d788de1718b07334df91f6007e1e4ca0b78e3176f95b8250e0c4535ce1633528f4fabffeb7e4124af3ee3f895ac34c03044fca9b23b23c4ddb8fa90d84dfc14869ff4806f03783cafad53b19445b3c3052983fdf1ca4384257eac1bc0a4270d238a1ea89d1289866c7a0ea7ad7c97a76f2e142c148019e39cc5a1295f92650747ac5ea5946b026f7ad6d5d262d4c4a370aee6bc1f5d5b445bb6d93692debe678a79e5e1c1fe3d3e68ea4f2fad3115795d3361e0626e98156fbc7f5967beb7cf0f00e07351d23a00d8677ebb75e3e13b1bfa07762266efabf6f6f9d53206be31b7623cf3614f60f8cf5011cf23def) to get the ground truth of sample IMDB reviews.

In [81]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np  # linear algebra
import pandas as pd  # data processing, CSV file I/O (e.g. pd.read_csv)
from IPython.display import display
import math
from sklearn.model_selection import KFold
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [82]:
stop_words = stopwords.words('english')

In [83]:
# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

# import os
# for dirname, _, filenames in os.walk('/kaggle/input'):
#     for filename in filenames:
#         print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

data = pd.read_csv(
    r"http://storage.googleapis.com/kagglesdsdata/datasets/22169/30047/sentiment%20labelled%20sentences/imdb_labelled.txt?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=gcp-kaggle-com%40kaggle-161607.iam.gserviceaccount.com%2F20210425%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20210425T202010Z&X-Goog-Expires=259199&X-Goog-SignedHeaders=host&X-Goog-Signature=6133706ef10bc2dcd0b58f8398b4d73ab9e9d788de1718b07334df91f6007e1e4ca0b78e3176f95b8250e0c4535ce1633528f4fabffeb7e4124af3ee3f895ac34c03044fca9b23b23c4ddb8fa90d84dfc14869ff4806f03783cafad53b19445b3c3052983fdf1ca4384257eac1bc0a4270d238a1ea89d1289866c7a0ea7ad7c97a76f2e142c148019e39cc5a1295f92650747ac5ea5946b026f7ad6d5d262d4c4a370aee6bc1f5d5b445bb6d93692debe678a79e5e1c1fe3d3e68ea4f2fad3115795d3361e0626e98156fbc7f5967beb7cf0f00e07351d23a00d8677ebb75e3e13b1bfa07762266efabf6f6f9d53206be31b7623cf3614f60f8cf5011cf23def",
    delimiter="\t", header=None, names=["IMDB Review", "Sentiment"])
data = data.sample(frac=1).reset_index(drop=True)

### Split Data
We split the data into train, development and test

In [84]:
train = data[:math.floor(data.shape[0] * training_ratio)]

In [85]:
validation = data[math.floor(data.shape[0] * training_ratio):].sample(frac=1).reset_index(drop=True)
dev, test = np.array_split(validation, 2)

In [86]:
display(train, dev, test)

                                           IMDB Review  Sentiment
0    About 30 minutes of footage is wasted to show ...          0
1    Rating: 0/10 (Grade: Z) Note: The Show Is So B...          0
2            And the accents are absolutely abysmal!            0
3    The casting is also horrible, cause all you se...          0
4    This one wants to surf on the small wave of sp...          0
..                                                 ...        ...
593  I don't think I've ever gone to a movie and di...          0
594                Lange had become a great actress.            1
595                   Of course, the acting is blah.            0
596  The two main characters may be two of the most...          1
597                                        Hated it.            0

[598 rows x 2 columns]

                                          IMDB Review  Sentiment
0     The film's dialogue is natural, real to life.            1
1          It's a case of 'so bad it is laughable'.            0
2   Juano Hernandez (an exceptional actor who play...          1
3   The awful dialogue and hopeless overacting by ...          0
4     This film offers many delights and surprises.            1
..                                                ...        ...
70                A great film by a great director.            1
71  I really loved the story line and the poler be...          1
72  Despite the pans of reviewers, I liked this mo...          1
73  However, this didn't make up for the fact that...          0
74      The least said about the acting the better.            0

[75 rows x 2 columns]

                                           IMDB Review  Sentiment
75   Beware: this is not a trashy cult movie, this ...          0
76   This if the first movie I've given a 10 to in ...          1
77   All in all its an insult to one's intelligence...          0
78   But she is still a bad actress, repeating her ...          0
79   If you have not seen this movie, I definitely ...          1
..                                                 ...        ...
145  The original Body and Soul (1947) is a masterp...          1
146  I think it was Robert Ryans best film, because...          1
147  It's also great to see that renowned silent sc...          1
148  It's practically perfect in all of them  a tr...          1
149  I know that Jim O'Connor was very energetic an...          0

[75 rows x 2 columns]

## Generation of Vocabulary list

In [87]:
def split_words(review: str, remove_stop_words: bool):
    reviews_array =  review.lower().replace(',', '').replace('"', '').replace('(', '').replace(')', '').replace('\'s',
                                                                                                      '').replace(
        '.',
        '').replace(
        '!', '').replace('/', ' ').split()
    return [w for w in reviews_array if not w in stop_words] if remove_stop_words else reviews_array


def get_word_count(review_data_frame: pd.DataFrame, column_name: str, remove_stop_words: bool):
    vocab = review_data_frame["IMDB Review"].apply(lambda review: pd.value_counts(
        split_words(review, remove_stop_words))).count(axis=0).to_frame()
    vocab.columns = [column_name]
    vocab.reset_index(inplace=True)
    vocab = vocab.rename(columns={'index': 'Word'})
    return vocab


## Get Naive Bayes Parameters
Here we have a function to genereate the Naive Bayes Parameters like:

1. Word Frequency
2. P(Word)
3. Positive Sentiment Word Frequency
4. P(Sentiment = Positive)
5. P(Word | Sentiment = Positive)
6. Negative Sentiment Word Frequency
7. P(Sentiment = Negative)
8. P(Word | Sentiment = Negative)

Which are useful in finding:

**P(Sentiment | Sentence (Collection of words)) = P(Sentence | Sentiment) * P(Sentiment) / P(Sentense)**

The P(Sentense) can be approximated to 1 as we are comparing sentiments the value will be cancelled on either sides

In [88]:
def generate_naive_bayes_parameters(data_frame: pd.DataFrame, smoothening: bool, remove_stop_words: bool):
    naive_bayes_parameters = get_word_count(data_frame, "Word Frequency", remove_stop_words)
    if smoothening:
        naive_bayes_parameters["Word Frequency"] += 1

    total_words = naive_bayes_parameters["Word Frequency"].sum(axis=0)
    if smoothening:
        total_words += 2

    total_sentiments = data_frame.count(axis=0)['Sentiment']
    if smoothening:
        total_sentiments += 2

    naive_bayes_parameters['P(Word)'] = naive_bayes_parameters["Word Frequency"].div(total_words)

    positive_sentiments = data_frame[data_frame['Sentiment'] == 1]
    positive_vocabulary = get_word_count(positive_sentiments, "Positive Sentiment Word Frequency", remove_stop_words)
    naive_bayes_parameters = naive_bayes_parameters.merge(positive_vocabulary, how='left', on='Word')
    if smoothening:
        naive_bayes_parameters["Positive Sentiment Word Frequency"] += 1
        naive_bayes_parameters["Positive Sentiment Word Frequency"] = naive_bayes_parameters[
            "Positive Sentiment Word Frequency"].fillna(
            value=1)

    total_positive_words = positive_sentiments.count(axis=0)['Sentiment']
    if smoothening:
        total_positive_words += 2

    probability_of_positive_sentiments = total_positive_words / total_sentiments
    naive_bayes_parameters['P(Sentiment = Positive)'] = probability_of_positive_sentiments

    naive_bayes_parameters['P(Word | Sentiment = Positive)'] = naive_bayes_parameters[
        'Positive Sentiment Word Frequency'].div(
        total_positive_words)

    negative_sentiments = data_frame[data_frame['Sentiment'] == 0]
    negative_vocabulary = get_word_count(negative_sentiments, "Negative Sentiment Word Frequency", remove_stop_words)
    naive_bayes_parameters = naive_bayes_parameters.merge(negative_vocabulary, how='left', on='Word')
    if smoothening:
        naive_bayes_parameters["Negative Sentiment Word Frequency"] += 1
        naive_bayes_parameters["Negative Sentiment Word Frequency"] = naive_bayes_parameters[
            "Negative Sentiment Word Frequency"].fillna(
            value=1)

    total_negative_words = negative_sentiments.count(axis=0)['Sentiment']
    if smoothening:
        total_negative_words += 2

    probability_of_negative_sentiments = total_negative_words / total_sentiments
    naive_bayes_parameters['P(Sentiment = Negative)'] = probability_of_negative_sentiments

    naive_bayes_parameters['P(Word | Sentiment = Negative)'] = naive_bayes_parameters[
        'Negative Sentiment Word Frequency'].div(
        total_negative_words)

    return naive_bayes_parameters


## To Get the Probabilities

We use this formula to get the probabilities:

**P(Sentiment | Sentence (Collection of words)) = P(Sentence | Sentiment) * P(Sentiment) / P(Sentense)**

The below function will calculate the numerator part and assumes the denominator to be 1 as it will cancel out during
comparison.

For calculating the P(Sentence | Sentiment) we have words in sentences. So, we can write the formula as:

**P(Sentence | Sentiment) = P(Word_1,Word_2,...,Word_n | Sentiment)**

By Naive Bayes Theorem we can write it as:

**P(Word_1,Word_2,...,Word_n | Sentiment) = P(Word_1 | Sentiment).P(Word_2 | Sentiment). ... .P(Word_n | Sentiment)**

In [89]:
def get_probabilities(review: str, naive_bayes_parameters: pd.DataFrame, sentiment: bool, smoothening: bool, remove_stop_words: bool):
    prob = 1
    column_name = 'P(Word | Sentiment = Positive)' if sentiment else 'P(Word | Sentiment = Negative)'
    individual_prob = 0 if not smoothening else 1 / (
        naive_bayes_parameters['P(Sentiment = Positive)'][0] if sentiment else naive_bayes_parameters[
            'P(Sentiment = Negative)'][0])
    for word in split_words(review, remove_stop_words):
        if word in naive_bayes_parameters.values:
            individual_prob = naive_bayes_parameters[naive_bayes_parameters['Word'] == word].iloc[0][column_name]
        prob *= 0 if math.isnan(individual_prob) else individual_prob
    return prob * (naive_bayes_parameters['P(Sentiment = Positive)'][0] if sentiment else naive_bayes_parameters[
        'P(Sentiment = Negative)'][0])

In [90]:
def predict_calculate_accuracy(data_frame: pd.DataFrame, naive_bayes_parameters: pd.DataFrame, smoothening: bool, remove_stop_words: bool):
    data_frame["P(Sentiment = Positive | Sentence)"] = data_frame["IMDB Review"].apply(
        lambda review: get_probabilities(review, naive_bayes_parameters, True, smoothening, remove_stop_words))
    data_frame["P(Sentiment = Negative | Sentence)"] = data_frame["IMDB Review"].apply(
        lambda review: get_probabilities(review, naive_bayes_parameters, False, smoothening, remove_stop_words))
    data_frame["Predicted sentiment"] = data_frame["P(Sentiment = Positive | Sentence)"] > data_frame[
        "P(Sentiment = Negative | Sentence)"]
    accuracy = data_frame.loc[data_frame["Predicted sentiment"] == data_frame["Sentiment"]].count(axis=0)[
                   'Sentiment'] * 100 / data_frame.count(axis=0)['Sentiment']
    print("Accuracy: ", accuracy)
    # print("Wrong Predictions:")
    # display(data_frame.loc[data_frame["Predicted sentiment"] != data_frame["Sentiment"]].reset_index(drop=True))
    return accuracy

## Calculating Accuracy

To calculate accuracy we first divide the training dataset into k parts of train and test the first part of the
set is used to train the dataset with the remaining k-1 test dataset.

We then predict using the Naive bayes parameters that we get from training against the test data.

We then calculate the accuracy by finding (how many data is of correct prediction)/(total number of datasets)

With the parameters having the best accuracy is chosen from this and used for further validation of dev anf test
datasets which we separated in the beginning.

In [91]:
def five_fold_cross_validation(data_frame: pd.DataFrame, smoothening: bool, remove_stop_words: bool):
    kf = KFold(n_splits=k, shuffle=True)
    train_folds = kf.split(data_frame)
    accuracies = []
    max_accuracy_naive_bayes_parameters = pd.DataFrame()
    for (train_training, train_testing), index in zip(train_folds, range(5)):
        print(f"---------------------------Fold {index + 1}---------------------------------")
        display(train.loc[train_training])
        trained_parameters = generate_naive_bayes_parameters(train.loc[train_training], smoothening, remove_stop_words)
        accuracy = predict_calculate_accuracy(train.loc[train_testing], trained_parameters, smoothening, remove_stop_words)
        accuracies.append(accuracy)
        max_accuracy_naive_bayes_parameters = trained_parameters if max(
            accuracies) == accuracy else max_accuracy_naive_bayes_parameters
        display(trained_parameters)
    return max_accuracy_naive_bayes_parameters


vocabulary = five_fold_cross_validation(train, False, False)
vocabulary

---------------------------Fold 1---------------------------------

                                           IMDB Review  Sentiment
0    About 30 minutes of footage is wasted to show ...          0
1    Rating: 0/10 (Grade: Z) Note: The Show Is So B...          0
2            And the accents are absolutely abysmal!            0
3    The casting is also horrible, cause all you se...          0
8    Victor McLaglen was even bad, and Brian DonLev...          0
..                                                 ...        ...
592                                   I gave it a 10            1
593  I don't think I've ever gone to a movie and di...          0
594                Lange had become a great actress.            1
596  The two main characters may be two of the most...          1
597                                        Hated it.            0

[478 rows x 2 columns]

Accuracy:  60.833333333333336

          Word  ...  P(Word | Sentiment = Negative)
0           to  ...                        0.256303
1          may  ...                        0.004202
2           in  ...                        0.172269
3            a  ...                        0.289916
4     mediocre  ...                        0.016807
...        ...  ...                             ...
2490    akasha  ...                             NaN
2491    sequel  ...                        0.004202
2492      gone  ...                        0.004202
2493  disliked  ...                        0.004202
2494      main  ...                             NaN

[2495 rows x 9 columns]

---------------------------Fold 2---------------------------------

                                           IMDB Review  Sentiment
0    About 30 minutes of footage is wasted to show ...          0
4    This one wants to surf on the small wave of sp...          0
5    Nevertheless yet another wonderful film from t...          1
6    It was clear that she had the range and abilit...          1
7    The movie is not completely perfect but 'Titta...          1
..                                                 ...        ...
593  I don't think I've ever gone to a movie and di...          0
594                Lange had become a great actress.            1
595                   Of course, the acting is blah.            0
596  The two main characters may be two of the most...          1
597                                        Hated it.            0

[478 rows x 2 columns]

Accuracy:  61.666666666666664

          Word  ...  P(Word | Sentiment = Negative)
0           to  ...                        0.242553
1          may  ...                        0.004255
2           in  ...                        0.187234
3            a  ...                        0.293617
4     mediocre  ...                        0.017021
...        ...  ...                             ...
2504      gone  ...                        0.004255
2505  disliked  ...                        0.004255
2506      blah  ...                        0.004255
2507    course  ...                        0.004255
2508      main  ...                             NaN

[2509 rows x 9 columns]

---------------------------Fold 3---------------------------------

                                           IMDB Review  Sentiment
0    About 30 minutes of footage is wasted to show ...          0
1    Rating: 0/10 (Grade: Z) Note: The Show Is So B...          0
2            And the accents are absolutely abysmal!            0
3    The casting is also horrible, cause all you se...          0
4    This one wants to surf on the small wave of sp...          0
..                                                 ...        ...
593  I don't think I've ever gone to a movie and di...          0
594                Lange had become a great actress.            1
595                   Of course, the acting is blah.            0
596  The two main characters may be two of the most...          1
597                                        Hated it.            0

[478 rows x 2 columns]

Accuracy:  63.333333333333336

          Word  ...  P(Word | Sentiment = Negative)
0           to  ...                        0.239316
1          may  ...                        0.004274
2           in  ...                        0.196581
3            a  ...                        0.277778
4     mediocre  ...                        0.012821
...        ...  ...                             ...
2528      1986  ...                        0.004274
2529      gone  ...                        0.004274
2530  disliked  ...                        0.004274
2531      blah  ...                        0.004274
2532      main  ...                             NaN

[2533 rows x 9 columns]

---------------------------Fold 4---------------------------------

                                           IMDB Review  Sentiment
0    About 30 minutes of footage is wasted to show ...          0
1    Rating: 0/10 (Grade: Z) Note: The Show Is So B...          0
2            And the accents are absolutely abysmal!            0
3    The casting is also horrible, cause all you se...          0
4    This one wants to surf on the small wave of sp...          0
..                                                 ...        ...
588   I can't believe there's even a sequel to this!            0
590                           Again, no plot at all.            0
591  Both films are terrible, but to the credit of ...          0
592                                   I gave it a 10            1
595                   Of course, the acting is blah.            0

[479 rows x 2 columns]

Accuracy:  62.18487394957983

          Word  ...  P(Word | Sentiment = Negative)
0           to  ...                        0.220339
1          may  ...                        0.004237
2           in  ...                        0.224576
3            a  ...                        0.275424
4     mediocre  ...                        0.008475
...        ...  ...                             ...
2455    akasha  ...                             NaN
2456    sequel  ...                        0.004237
2457   version  ...                        0.004237
2458      1986  ...                        0.004237
2459      blah  ...                        0.004237

[2460 rows x 9 columns]

---------------------------Fold 5---------------------------------

                                           IMDB Review  Sentiment
1    Rating: 0/10 (Grade: Z) Note: The Show Is So B...          0
2            And the accents are absolutely abysmal!            0
3    The casting is also horrible, cause all you se...          0
4    This one wants to surf on the small wave of sp...          0
5    Nevertheless yet another wonderful film from t...          1
..                                                 ...        ...
593  I don't think I've ever gone to a movie and di...          0
594                Lange had become a great actress.            1
595                   Of course, the acting is blah.            0
596  The two main characters may be two of the most...          1
597                                        Hated it.            0

[479 rows x 2 columns]

Accuracy:  57.983193277310924

         Word  ...  P(Word | Sentiment = Negative)
0         the  ...                        0.502110
1          of  ...                        0.257384
2        show  ...                        0.042194
3         out  ...                        0.029536
4      grade:  ...                        0.004219
...       ...  ...                             ...
2345  actress  ...                             NaN
2346    lange  ...                             NaN
2347     blah  ...                        0.004219
2348     main  ...                             NaN
2349      may  ...                             NaN

[2350 rows x 9 columns]

          Word  ...  P(Word | Sentiment = Negative)
0           to  ...                        0.239316
1          may  ...                        0.004274
2           in  ...                        0.196581
3            a  ...                        0.277778
4     mediocre  ...                        0.012821
...        ...  ...                             ...
2528      1986  ...                        0.004274
2529      gone  ...                        0.004274
2530  disliked  ...                        0.004274
2531      blah  ...                        0.004274
2532      main  ...                             NaN

[2533 rows x 9 columns]

In [92]:
predict_calculate_accuracy(train, vocabulary, False, False)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

Accuracy:  91.30434782608695

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

91.30434782608695

In [93]:
predict_calculate_accuracy(dev, vocabulary, False, False)

Accuracy:  60.0

60.0

In [94]:
predict_calculate_accuracy(test, vocabulary, False, False)

Accuracy:  69.33333333333333

69.33333333333333

## Most Useful words before Smoothing

In [95]:
print("Most Useful Positive sentiment words:")
vocabulary.sort_values("P(Word | Sentiment = Positive)", ascending=False)[:most_useful_limit]

Most Useful Positive sentiment words:

      Word  ...  P(Word | Sentiment = Negative)
40     the  ...                        0.500000
12     and  ...                        0.282051
3        a  ...                        0.277778
31      of  ...                        0.247863
96      it  ...                        0.294872
69    this  ...                        0.264957
28      is  ...                        0.311966
219      i  ...                        0.217949
0       to  ...                        0.239316
2       in  ...                        0.196581
86    film  ...                        0.111111
102  movie  ...                        0.166667
97     was  ...                        0.200855
25    that  ...                        0.179487
113    but  ...                        0.098291
204     as  ...                        0.072650
105    for  ...                        0.102564
56     are  ...                        0.064103
111   with  ...                        0.094017
70     one  ...                        0.059829

[20 rows x 9 columns]

In [96]:
print("Most Useful Negative sentiment words:")
vocabulary.sort_values("P(Word | Sentiment = Negative)", ascending=False)[:most_useful_limit]

Most Useful Negative sentiment words:

      Word  ...  P(Word | Sentiment = Negative)
40     the  ...                        0.500000
28      is  ...                        0.311966
96      it  ...                        0.294872
12     and  ...                        0.282051
3        a  ...                        0.277778
69    this  ...                        0.264957
31      of  ...                        0.247863
0       to  ...                        0.239316
219      i  ...                        0.217949
97     was  ...                        0.200855
2       in  ...                        0.196581
25    that  ...                        0.179487
102  movie  ...                        0.166667
47     bad  ...                        0.149573
86    film  ...                        0.111111
105    for  ...                        0.102564
68     all  ...                        0.102564
23     not  ...                        0.102564
113    but  ...                        0.098291
187   just  ...                        0.098291

[20 rows x 9 columns]

## Smoothening

Smoothening is done to compensate for unknown words. As all words can't be added to a dictionary and Naive Bayes is
specialized to handle missing words.

Smoothening is done by using the +1 method it is done in the get_naive_bayes_parameters function.

All it does is adding +1 to the following:
1. Word Frequency
2. Positive Sentiment Word Frequency
3. Negative Sentiment Word Frequency

Also, +2 for Number of sentiments as these terms are in the denominator and needs to adhere and compensate for the +1 in
the numerator so that the probability of most occurrence words will be less than 1
1. Total words
2. Total Positive sentiments
3. Total Negative sentiments
4. Total sentiments

In [97]:
vocabulary = five_fold_cross_validation(train, True, False)
vocabulary

---------------------------Fold 1---------------------------------

                                           IMDB Review  ...  Predicted sentiment
0    About 30 minutes of footage is wasted to show ...  ...                False
1    Rating: 0/10 (Grade: Z) Note: The Show Is So B...  ...                False
2            And the accents are absolutely abysmal!    ...                False
3    The casting is also horrible, cause all you se...  ...                False
4    This one wants to surf on the small wave of sp...  ...                False
..                                                 ...  ...                  ...
593  I don't think I've ever gone to a movie and di...  ...                False
594                Lange had become a great actress.    ...                 True
595                   Of course, the acting is blah.    ...                False
596  The two main characters may be two of the most...  ...                 True
597                                        Hated it.    ...                False

[478 rows x 5 columns]

Accuracy:  77.5

          Word  ...  P(Word | Sentiment = Negative)
0           to  ...                        0.247863
1          may  ...                        0.008547
2           in  ...                        0.196581
3            a  ...                        0.286325
4     mediocre  ...                        0.017094
...        ...  ...                             ...
2445    akasha  ...                        0.004274
2446      gone  ...                        0.008547
2447  disliked  ...                        0.008547
2448      blah  ...                        0.008547
2449      main  ...                        0.004274

[2450 rows x 9 columns]

---------------------------Fold 2---------------------------------

                                           IMDB Review  ...  Predicted sentiment
0    About 30 minutes of footage is wasted to show ...  ...                False
1    Rating: 0/10 (Grade: Z) Note: The Show Is So B...  ...                False
2            And the accents are absolutely abysmal!    ...                False
3    The casting is also horrible, cause all you se...  ...                False
4    This one wants to surf on the small wave of sp...  ...                False
..                                                 ...  ...                  ...
591  Both films are terrible, but to the credit of ...  ...                False
593  I don't think I've ever gone to a movie and di...  ...                False
594                Lange had become a great actress.    ...                 True
596  The two main characters may be two of the most...  ...                 True
597                                        Hated it.    ...                False

[478 rows x 5 columns]

Accuracy:  71.66666666666667

          Word  ...  P(Word | Sentiment = Negative)
0           to  ...                        0.258475
1          may  ...                        0.008475
2           in  ...                        0.216102
3            a  ...                        0.305085
4     mediocre  ...                        0.016949
...        ...  ...                             ...
2575      gone  ...                        0.008475
2576  disliked  ...                        0.008475
2577     lange  ...                        0.004237
2578      main  ...                        0.004237
2579     hated  ...                        0.008475

[2580 rows x 9 columns]

---------------------------Fold 3---------------------------------

                                           IMDB Review  ...  Predicted sentiment
0    About 30 minutes of footage is wasted to show ...  ...                False
3    The casting is also horrible, cause all you se...  ...                False
5    Nevertheless yet another wonderful film from t...  ...                 True
6    It was clear that she had the range and abilit...  ...                 True
7    The movie is not completely perfect but 'Titta...  ...                 True
..                                                 ...  ...                  ...
593  I don't think I've ever gone to a movie and di...  ...                False
594                Lange had become a great actress.    ...                 True
595                   Of course, the acting is blah.    ...                False
596  The two main characters may be two of the most...  ...                 True
597                                        Hated it.    ...                False

[478 rows x 5 columns]

Accuracy:  70.83333333333333

          Word  ...  P(Word | Sentiment = Negative)
0           to  ...                        0.235294
1          may  ...                        0.008403
2           in  ...                        0.172269
3            a  ...                        0.306723
4     mediocre  ...                        0.021008
...        ...  ...                             ...
2588      1986  ...                        0.008403
2589      gone  ...                        0.008403
2590  disliked  ...                        0.008403
2591      blah  ...                        0.008403
2592      main  ...                        0.004202

[2593 rows x 9 columns]

---------------------------Fold 4---------------------------------

                                           IMDB Review  ...  Predicted sentiment
1    Rating: 0/10 (Grade: Z) Note: The Show Is So B...  ...                False
2            And the accents are absolutely abysmal!    ...                False
4    This one wants to surf on the small wave of sp...  ...                False
5    Nevertheless yet another wonderful film from t...  ...                 True
6    It was clear that she had the range and abilit...  ...                 True
..                                                 ...  ...                  ...
590                           Again, no plot at all.    ...                False
591  Both films are terrible, but to the credit of ...  ...                False
592                                   I gave it a 10    ...                 True
595                   Of course, the acting is blah.    ...                False
597                                        Hated it.    ...                False

[479 rows x 5 columns]

Accuracy:  73.10924369747899

         Word  ...  P(Word | Sentiment = Negative)
0         the  ...                        0.520492
1          of  ...                        0.274590
2        show  ...                        0.049180
3         out  ...                        0.032787
4      grade:  ...                        0.008197
...       ...  ...                             ...
2376   akasha  ...                        0.004098
2377   sequel  ...                        0.008197
2378  version  ...                        0.008197
2379     1986  ...                        0.008197
2380     blah  ...                        0.008197

[2381 rows x 9 columns]

---------------------------Fold 5---------------------------------

                                           IMDB Review  ...  Predicted sentiment
0    About 30 minutes of footage is wasted to show ...  ...                False
1    Rating: 0/10 (Grade: Z) Note: The Show Is So B...  ...                False
2            And the accents are absolutely abysmal!    ...                False
3    The casting is also horrible, cause all you se...  ...                False
4    This one wants to surf on the small wave of sp...  ...                False
..                                                 ...  ...                  ...
592                                   I gave it a 10    ...                 True
593  I don't think I've ever gone to a movie and di...  ...                False
594                Lange had become a great actress.    ...                 True
595                   Of course, the acting is blah.    ...                False
596  The two main characters may be two of the most...  ...                 True

[479 rows x 5 columns]

Accuracy:  77.3109243697479

          Word  ...  P(Word | Sentiment = Negative)
0           to  ...                        0.235294
1          may  ...                        0.008403
2           in  ...                        0.197479
3            a  ...                        0.256303
4     mediocre  ...                        0.021008
...        ...  ...                             ...
2360  disliked  ...                        0.008403
2361   actress  ...                        0.004202
2362      blah  ...                        0.008403
2363    course  ...                        0.008403
2364      main  ...                        0.004202

[2365 rows x 9 columns]

          Word  ...  P(Word | Sentiment = Negative)
0           to  ...                        0.247863
1          may  ...                        0.008547
2           in  ...                        0.196581
3            a  ...                        0.286325
4     mediocre  ...                        0.017094
...        ...  ...                             ...
2445    akasha  ...                        0.004274
2446      gone  ...                        0.008547
2447  disliked  ...                        0.008547
2448      blah  ...                        0.008547
2449      main  ...                        0.004274

[2450 rows x 9 columns]

In [98]:
predict_calculate_accuracy(train, vocabulary, True, False)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

Accuracy:  93.1438127090301

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

93.1438127090301

In [99]:
predict_calculate_accuracy(dev, vocabulary, True, False)

Accuracy:  74.66666666666667

74.66666666666667

In [100]:
predict_calculate_accuracy(test, vocabulary, True, False)

Accuracy:  69.33333333333333

69.33333333333333

## Most Useful words after Smoothing

In [101]:
print("Most Useful Positive sentiment words:")
vocabulary.sort_values("P(Word | Sentiment = Positive)", ascending=False)[:most_useful_limit]

Most Useful Positive sentiment words:

      Word  ...  P(Word | Sentiment = Negative)
40     the  ...                        0.487179
12     and  ...                        0.299145
3        a  ...                        0.286325
31      of  ...                        0.252137
131     it  ...                        0.286325
69    this  ...                        0.273504
28      is  ...                        0.337607
127      i  ...                        0.222222
0       to  ...                        0.247863
86    film  ...                        0.119658
2       in  ...                        0.196581
93   movie  ...                        0.175214
25    that  ...                        0.196581
108    was  ...                        0.179487
104    but  ...                        0.106838
226     as  ...                        0.081197
102   with  ...                        0.085470
56     are  ...                        0.076923
70     one  ...                        0.076923
96     for  ...                        0.115385

[20 rows x 9 columns]

In [102]:
print("Most Useful Negative sentiment words:")
vocabulary.sort_values("P(Word | Sentiment = Negative)", ascending=False)[:most_useful_limit]

Most Useful Negative sentiment words:

      Word  ...  P(Word | Sentiment = Negative)
40     the  ...                        0.487179
28      is  ...                        0.337607
12     and  ...                        0.299145
3        a  ...                        0.286325
131     it  ...                        0.286325
69    this  ...                        0.273504
31      of  ...                        0.252137
0       to  ...                        0.247863
127      i  ...                        0.222222
2       in  ...                        0.196581
25    that  ...                        0.196581
108    was  ...                        0.179487
93   movie  ...                        0.175214
47     bad  ...                        0.136752
86    film  ...                        0.119658
96     for  ...                        0.115385
23     not  ...                        0.111111
68     all  ...                        0.111111
188   just  ...                        0.111111
104    but  ...                        0.106838

[20 rows x 9 columns]

In [103]:
vocabulary = five_fold_cross_validation(train, True, True)
vocabulary

---------------------------Fold 1---------------------------------

                                           IMDB Review  ...  Predicted sentiment
0    About 30 minutes of footage is wasted to show ...  ...                False
2            And the accents are absolutely abysmal!    ...                False
6    It was clear that she had the range and abilit...  ...                False
7    The movie is not completely perfect but 'Titta...  ...                 True
9    I could not understand, what kind of idiot wou...  ...                False
..                                                 ...  ...                  ...
592                                   I gave it a 10    ...                 True
594                Lange had become a great actress.    ...                 True
595                   Of course, the acting is blah.    ...                False
596  The two main characters may be two of the most...  ...                 True
597                                        Hated it.    ...                False

[478 rows x 5 columns]

Accuracy:  62.5

           Word  ...  P(Word | Sentiment = Negative)
0           may  ...                        0.008264
1       english  ...                        0.008264
2          show  ...                        0.045455
3     sometimes  ...                        0.012397
4       footage  ...                        0.008264
...         ...  ...                             ...
2303   entrance  ...                        0.004132
2304   aailiyah  ...                        0.004132
2305      lange  ...                        0.004132
2306       blah  ...                        0.008264
2307       main  ...                        0.004132

[2308 rows x 9 columns]

---------------------------Fold 2---------------------------------

                                           IMDB Review  ...  Predicted sentiment
0    About 30 minutes of footage is wasted to show ...  ...                False
1    Rating: 0/10 (Grade: Z) Note: The Show Is So B...  ...                False
2            And the accents are absolutely abysmal!    ...                False
3    The casting is also horrible, cause all you se...  ...                False
4    This one wants to surf on the small wave of sp...  ...                False
..                                                 ...  ...                  ...
591  Both films are terrible, but to the credit of ...  ...                 True
593  I don't think I've ever gone to a movie and di...  ...                False
594                Lange had become a great actress.    ...                 True
596  The two main characters may be two of the most...  ...                 True
597                                        Hated it.    ...                False

[478 rows x 5 columns]

Accuracy:  71.66666666666667

           Word  ...  P(Word | Sentiment = Negative)
0           may  ...                        0.008299
1       english  ...                        0.008299
2          show  ...                        0.045643
3     sometimes  ...                        0.012448
4       footage  ...                        0.008299
...         ...  ...                             ...
2400       1986  ...                        0.008299
2401     credit  ...                        0.008299
2402   disliked  ...                        0.008299
2403       gone  ...                        0.008299
2404       main  ...                        0.004149

[2405 rows x 9 columns]

---------------------------Fold 3---------------------------------

                                           IMDB Review  ...  Predicted sentiment
1    Rating: 0/10 (Grade: Z) Note: The Show Is So B...  ...                False
2            And the accents are absolutely abysmal!    ...                False
3    The casting is also horrible, cause all you se...  ...                False
4    This one wants to surf on the small wave of sp...  ...                False
5    Nevertheless yet another wonderful film from t...  ...                 True
..                                                 ...  ...                  ...
591  Both films are terrible, but to the credit of ...  ...                 True
592                                   I gave it a 10    ...                 True
593  I don't think I've ever gone to a movie and di...  ...                False
595                   Of course, the acting is blah.    ...                False
597                                        Hated it.    ...                False

[478 rows x 5 columns]

Accuracy:  68.33333333333333

          Word  ...  P(Word | Sentiment = Negative)
0         show  ...                        0.055556
1           10  ...                        0.025641
2        note:  ...                        0.008547
3      rating:  ...                        0.012821
4     daughter  ...                        0.008547
...        ...  ...                             ...
2413   version  ...                        0.008547
2414      1986  ...                        0.008547
2415  disliked  ...                        0.008547
2416      gone  ...                        0.008547
2417      blah  ...                        0.008547

[2418 rows x 9 columns]

---------------------------Fold 4---------------------------------

                                           IMDB Review  ...  Predicted sentiment
0    About 30 minutes of footage is wasted to show ...  ...                False
1    Rating: 0/10 (Grade: Z) Note: The Show Is So B...  ...                False
2            And the accents are absolutely abysmal!    ...                False
3    The casting is also horrible, cause all you se...  ...                False
4    This one wants to surf on the small wave of sp...  ...                False
..                                                 ...  ...                  ...
593  I don't think I've ever gone to a movie and di...  ...                False
594                Lange had become a great actress.    ...                 True
595                   Of course, the acting is blah.    ...                False
596  The two main characters may be two of the most...  ...                 True
597                                        Hated it.    ...                False

[479 rows x 5 columns]

Accuracy:  70.58823529411765

           Word  ...  P(Word | Sentiment = Negative)
0           may  ...                        0.008403
1       english  ...                        0.008403
2          show  ...                        0.033613
3     sometimes  ...                        0.008403
4       footage  ...                        0.008403
...         ...  ...                             ...
2112       gone  ...                        0.008403
2113    actress  ...                        0.004202
2114       blah  ...                        0.008403
2115       main  ...                        0.004202
2116      hated  ...                        0.008403

[2117 rows x 9 columns]

---------------------------Fold 5---------------------------------

                                           IMDB Review  ...  Predicted sentiment
0    About 30 minutes of footage is wasted to show ...  ...                False
1    Rating: 0/10 (Grade: Z) Note: The Show Is So B...  ...                False
3    The casting is also horrible, cause all you se...  ...                False
4    This one wants to surf on the small wave of sp...  ...                False
5    Nevertheless yet another wonderful film from t...  ...                 True
..                                                 ...  ...                  ...
592                                   I gave it a 10    ...                 True
593  I don't think I've ever gone to a movie and di...  ...                False
594                Lange had become a great actress.    ...                 True
595                   Of course, the acting is blah.    ...                False
596  The two main characters may be two of the most...  ...                 True

[479 rows x 5 columns]

Accuracy:  70.58823529411765

           Word  ...  P(Word | Sentiment = Negative)
0           may  ...                        0.008511
1       english  ...                        0.008511
2          show  ...                        0.059574
3     sometimes  ...                        0.012766
4       footage  ...                        0.008511
...         ...  ...                             ...
2442       1986  ...                        0.008511
2443   disliked  ...                        0.008511
2444       gone  ...                        0.008511
2445       blah  ...                        0.008511
2446       main  ...                        0.004255

[2447 rows x 9 columns]

           Word  ...  P(Word | Sentiment = Negative)
0           may  ...                        0.008299
1       english  ...                        0.008299
2          show  ...                        0.045643
3     sometimes  ...                        0.012448
4       footage  ...                        0.008299
...         ...  ...                             ...
2400       1986  ...                        0.008299
2401     credit  ...                        0.008299
2402   disliked  ...                        0.008299
2403       gone  ...                        0.008299
2404       main  ...                        0.004149

[2405 rows x 9 columns]

## Inference

From the above we can see the effect of smoothening at the time of runtime with accuracy increase of 15%.

Also, from the most useful words we can see 2 things.
1. The most common words are the useful words.
2. The most common words, and some words have higher probability in both positive and negative sentiments.

This shows us that these data need to be removed.

For doing these as future work we can remove stop words from Pythons old NLTK library for stop words.
Also, we can remove the more frequent words like the movie, film as it is both positive and negative which is
logical as it is a movie database...

## Removing Stop Words and positive and negative words [Bonus Experiment]

For this as described in the inference we use the NLTK Library and add the most positive and negative words to the stop words.

In [118]:
stop_words.append("movie")
stop_words.append("film")
stop_words.append("one")

In [119]:
vocabulary = five_fold_cross_validation(train, True, True)
vocabulary

---------------------------Fold 1---------------------------------

                                           IMDB Review  ...  Predicted sentiment
1    Rating: 0/10 (Grade: Z) Note: The Show Is So B...  ...                False
2            And the accents are absolutely abysmal!    ...                False
3    The casting is also horrible, cause all you se...  ...                False
4    This one wants to surf on the small wave of sp...  ...                False
6    It was clear that she had the range and abilit...  ...                 True
..                                                 ...  ...                  ...
591  Both films are terrible, but to the credit of ...  ...                False
592                                   I gave it a 10    ...                 True
593  I don't think I've ever gone to a movie and di...  ...                False
594                Lange had become a great actress.    ...                 True
595                   Of course, the acting is blah.    ...                 True

[478 rows x 5 columns]

Accuracy:  71.66666666666667

          Word  ...  P(Word | Sentiment = Negative)
0         show  ...                        0.047826
1           10  ...                        0.026087
2        note:  ...                        0.008696
3      rating:  ...                        0.013043
4     daughter  ...                        0.008696
...        ...  ...                             ...
2473   version  ...                        0.008696
2474      1986  ...                        0.008696
2475  disliked  ...                        0.008696
2476      gone  ...                        0.008696
2477      blah  ...                        0.008696

[2478 rows x 9 columns]

---------------------------Fold 2---------------------------------

                                           IMDB Review  ...  Predicted sentiment
0    About 30 minutes of footage is wasted to show ...  ...                False
3    The casting is also horrible, cause all you se...  ...                False
5    Nevertheless yet another wonderful film from t...  ...                 True
6    It was clear that she had the range and abilit...  ...                 True
7    The movie is not completely perfect but 'Titta...  ...                 True
..                                                 ...  ...                  ...
593  I don't think I've ever gone to a movie and di...  ...                False
594                Lange had become a great actress.    ...                 True
595                   Of course, the acting is blah.    ...                 True
596  The two main characters may be two of the most...  ...                 True
597                                        Hated it.    ...                False

[478 rows x 5 columns]

Accuracy:  62.5

           Word  ...  P(Word | Sentiment = Negative)
0           may  ...                        0.008403
1       english  ...                        0.008403
2          show  ...                        0.042017
3     sometimes  ...                        0.012605
4       footage  ...                        0.008403
...         ...  ...                             ...
2408   disliked  ...                        0.008403
2409       gone  ...                        0.008403
2410       blah  ...                        0.008403
2411       main  ...                        0.004202
2412      hated  ...                        0.008403

[2413 rows x 9 columns]

---------------------------Fold 3---------------------------------

                                           IMDB Review  ...  Predicted sentiment
0    About 30 minutes of footage is wasted to show ...  ...                False
1    Rating: 0/10 (Grade: Z) Note: The Show Is So B...  ...                False
2            And the accents are absolutely abysmal!    ...                False
3    The casting is also horrible, cause all you se...  ...                False
4    This one wants to surf on the small wave of sp...  ...                False
..                                                 ...  ...                  ...
591  Both films are terrible, but to the credit of ...  ...                False
593  I don't think I've ever gone to a movie and di...  ...                False
594                Lange had become a great actress.    ...                 True
596  The two main characters may be two of the most...  ...                 True
597                                        Hated it.    ...                False

[478 rows x 5 columns]

Accuracy:  75.0

           Word  ...  P(Word | Sentiment = Negative)
0           may  ...                        0.008130
1       english  ...                        0.008130
2          show  ...                        0.052846
3     sometimes  ...                        0.012195
4       footage  ...                        0.008130
...         ...  ...                             ...
2334       1986  ...                        0.008130
2335   disliked  ...                        0.008130
2336       gone  ...                        0.008130
2337      lange  ...                        0.004065
2338       main  ...                        0.004065

[2339 rows x 9 columns]

---------------------------Fold 4---------------------------------

                                           IMDB Review  ...  Predicted sentiment
0    About 30 minutes of footage is wasted to show ...  ...                False
1    Rating: 0/10 (Grade: Z) Note: The Show Is So B...  ...                False
2            And the accents are absolutely abysmal!    ...                False
4    This one wants to surf on the small wave of sp...  ...                False
5    Nevertheless yet another wonderful film from t...  ...                 True
..                                                 ...  ...                  ...
593  I don't think I've ever gone to a movie and di...  ...                False
594                Lange had become a great actress.    ...                 True
595                   Of course, the acting is blah.    ...                 True
596  The two main characters may be two of the most...  ...                 True
597                                        Hated it.    ...                False

[479 rows x 5 columns]

Accuracy:  73.94957983193277

           Word  ...  P(Word | Sentiment = Negative)
0           may  ...                        0.008439
1       english  ...                        0.008439
2          show  ...                        0.046414
3     sometimes  ...                        0.008439
4       footage  ...                        0.008439
...         ...  ...                             ...
2068   disliked  ...                        0.008439
2069       gone  ...                        0.008439
2070    actress  ...                        0.004219
2071       blah  ...                        0.008439
2072       main  ...                        0.004219

[2073 rows x 9 columns]

---------------------------Fold 5---------------------------------

                                           IMDB Review  ...  Predicted sentiment
0    About 30 minutes of footage is wasted to show ...  ...                False
1    Rating: 0/10 (Grade: Z) Note: The Show Is So B...  ...                False
2            And the accents are absolutely abysmal!    ...                False
3    The casting is also horrible, cause all you se...  ...                False
4    This one wants to surf on the small wave of sp...  ...                False
..                                                 ...  ...                  ...
591  Both films are terrible, but to the credit of ...  ...                False
592                                   I gave it a 10    ...                 True
595                   Of course, the acting is blah.    ...                 True
596  The two main characters may be two of the most...  ...                 True
597                                        Hated it.    ...                False

[479 rows x 5 columns]

Accuracy:  64.70588235294117

           Word  ...  P(Word | Sentiment = Negative)
0           may  ...                        0.008368
1       english  ...                        0.008368
2          show  ...                        0.050209
3     sometimes  ...                        0.012552
4       footage  ...                        0.008368
...         ...  ...                             ...
2361    version  ...                        0.008368
2362       1986  ...                        0.008368
2363     credit  ...                        0.008368
2364       blah  ...                        0.008368
2365       main  ...                        0.004184

[2366 rows x 9 columns]

           Word  ...  P(Word | Sentiment = Negative)
0           may  ...                        0.008130
1       english  ...                        0.008130
2          show  ...                        0.052846
3     sometimes  ...                        0.012195
4       footage  ...                        0.008130
...         ...  ...                             ...
2334       1986  ...                        0.008130
2335   disliked  ...                        0.008130
2336       gone  ...                        0.008130
2337      lange  ...                        0.004065
2338       main  ...                        0.004065

[2339 rows x 9 columns]

In [120]:
predict_calculate_accuracy(train, vocabulary, True, True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

Accuracy:  92.47491638795987

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

92.47491638795987

In [121]:
predict_calculate_accuracy(dev, vocabulary, True, True)

Accuracy:  82.66666666666667

82.66666666666667

In [122]:
predict_calculate_accuracy(test, vocabulary, True, True)

Accuracy:  70.66666666666667

70.66666666666667

In [123]:
print("Most Useful Positive sentiment words:")
vocabulary.sort_values("P(Word | Sentiment = Positive)", ascending=False)[:most_useful_limit]

Most Useful Positive sentiment words:

            Word  ...  P(Word | Sentiment = Negative)
200         good  ...                        0.056911
67         great  ...                        0.024390
180         like  ...                        0.048780
43        really  ...                        0.044715
45           see  ...                        0.048780
63     wonderful  ...                        0.008130
468         love  ...                        0.020325
150         well  ...                        0.032520
119   characters  ...                        0.040650
97          ever  ...                        0.036585
114         best  ...                        0.024390
54        movies  ...                        0.032520
181  interesting  ...                        0.004065
262        think  ...                        0.020325
291         time  ...                        0.060976
175  performance  ...                        0.008130
327         look  ...                        0.024390
154        worth  ...                        0.008130
241       acting  ...                        0.048780
37          cast  ...                        0.016260

[20 rows x 9 columns]

In [124]:
print("Most Useful Negative sentiment words:")
vocabulary.sort_values("P(Word | Sentiment = Negative)", ascending=False)[:most_useful_limit]

Most Useful Negative sentiment words:

           Word  ...  P(Word | Sentiment = Negative)
36          bad  ...                        0.138211
38         even  ...                        0.081301
255        plot  ...                        0.060976
291        time  ...                        0.060976
200        good  ...                        0.056911
2          show  ...                        0.052846
241      acting  ...                        0.048780
45          see  ...                        0.048780
180        like  ...                        0.048780
43       really  ...                        0.044715
118        seen  ...                        0.044715
81        would  ...                        0.044715
26         make  ...                        0.040650
93       script  ...                        0.040650
119  characters  ...                        0.040650
87        could  ...                        0.040650
633           -  ...                        0.040650
403       never  ...                        0.036585
326         way  ...                        0.036585
97         ever  ...                        0.036585

[20 rows x 9 columns]